{% extends '//admin2.html.twig' %}

{% block body %}
<div class="fenetre-centered">
<h2>Commande {{ user.prenom }} {{ user.nom }}</h2>
<div id="formulaire">
{{ form_start(form) }}<br/>
{{ form_widget(form) }}<br/><br/>
{{ form_end(form) }}
</div>
<br/><br/>
<a href="#" onClick="javascript:history.go(-1);" class="btn">Annuler</a><br/><br/>

{% endblock %}
