{% extends '//admin2.html.twig' %}

{% block body %}
<strong>Identité</strong><br/>
<table class="table" id="tablelist">
<tr><td>Nom		   	</td><td>{{ user.nom }}<br/></td></tr>
<tr><td>Prénom		</td><td>{{ user.prenom }}<br/></td></tr>
<tr><td>Mobile			</td><td><strong>{{ user.mobile }}</strong><br/></td></tr>
{% if user.civilite.nom is defined %}
<tr><td>Sexe			</td><td>{{ user.civilite.nom }}<br/></td></tr>
{% endif %}
{% if user.horaire.nom is defined %}
<tr><td>Horaires      </td><td>{{ user.horaire.nom }}<br/></td></tr>
{% endif %}
<tr><td>Email			</td><td>{{ user.email }}<br/></td></tr>
<tr><td>Adresse			</td><td>{{ user.adresse }}<br/></td></tr>
<tr><td>CP				</td><td>{{ user.cp }}<br/></td></tr>
<tr><td>Ville			</td><td>{{ user.ville }}<br/></td></tr>
</table>
<a href="{{ path('admin_users_edit', {'id': user.id}) }}" class="btn btn-info">Modifier</a><br/><br/><a href="{{ path('admin_users') }}" class="btn btn-info">Retour à la liste</a><br/>
<br/>
{% endblock %}
