{% extends '//admin2.html.twig' %}

{% block body %}
    <h1>Edition Utilisateur</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    {{ form_end(edit_form) }}

<br style="clear: both;"
            <a href="{{ path('admin_user_list') }}" class="btn">Retour à la liste</a>
{% endblock %}
