{% extends '//admin2.html.twig' %}

{% block body %}
    <h1>{{ titre }}</h1>
    <table  class="table-striped table-bordered">
        <thead>
            <tr>
				<td>Login</td>
                <th>Nom</th>
				<th>Mobile</th>
                <th>Email</th>
				<th>SMS</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
					<td>{{ user.username }}</td>
                    <td>{{ user.nom }}</td>
					<td>{{ user.mobile }}</td>
					 <td>
						{% if user.enabled ==1 %}
							<label class="switch">
							  <input type="checkbox" class="selecter" value="{{ user.id }}" checked>
							  <span class="slider round"></span>
							</label>
						{% else %}
							<label class="switch">
							  <input type="checkbox" class="selecter" value="{{ user.id }}">
							  <span class="slider round"></span>
							</label>
						{% endif %}
				</td>
                    <td>{{ user.email }}</td>
					<td>
					{% if user.mobile is defined %}
					<a href="{{ path('admin_user_sms', { 'id': user.id }) }}"><span style="font-size: 2em; color: #4ab9da;"><i class="fas fa-sms"></i></span></a>
					{% endif %}
					</td>
                    <td><a href="{{ path('admin_user_edit', { 'id': user.id }) }}" class="btn btn-info">edit</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
	<a href="{{ path('admin_user_add') }}" class="btn btn-info">Ajouter un utilisateur</a><br/>
	<br/>
{% if nbPages > 1 %}
<ul class="pagination">
  {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
  {% for p in range(1, nbPages) %}
    <li class="page-item {% if p == page %}active{% endif %}">
			<a href="{{ path('admin_user_list', {'page': p}) }}">{{ p }}</a>
    </li>
  {% endfor %}
</ul>
{% endif %}
<br/>
{% endblock %}
