{% extends '//admin2.html.twig' %}

{% block body %}
<div class="fenetre-centered">
    <h1>{{ titre }}</h1>
{% for message in app.flashes('success') %}
    <div class="alert alert-success">
		{{ message }}
    </div>
{% endfor %}
<div id="formulaire">
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
    {{ form_end(edit_form) }}
            <a href="{{ path('admin_commentaires') }}" class="btn  btn-info">Retour à la liste</a>
</div>
</div>
{% endblock %}
