{% extends '//admin2.html.twig' %}

{% block body %}
<div class="fenetre-centered">
{% for label, messages in app.session.flashbag.all %}
   <div class="alert alert-notice">
         {% for message in messages %}
		  <div class="alert alert-notice">
           {{message}}
		   </div>
        {% endfor %}
    </div>
{% endfor %}

    <h1>{{ titre }}</h1>
	<table id="myTable" width="100%">
  <tr class="header">
                <th>Nom</th>
				<th>Démarrage</th>
				<th>Fin</th>
				<th>Commentaire</th>
				<th>Actions</th>
  </tr>
        <tbody>
		{% for enreg in enregs %}
            <tr >
				<td>{{ enreg.user.nom }} {{ enreg.user.prenom }}</td>
				<td>{{ enreg.datedebut|date('d-m-Y') }}</td>
				<td>{{ enreg.datefin|date('d-m-Y') }}</td>
				<td>{{ enreg.commentaire | raw }}</td>
                <td>
                    <a href="{{ path('admin_commentaires_edit', { 'id': enreg.id }) }}" class="btn btn-info">Modifier</a>
					<a href="{{ path('admin_commentaires_delete', { 'id': enreg.id }) }}" class="btn  btn-danger">Supprimmer</a>
				</td>
            </tr>
		 {% endfor %}
        </tbody>
    </table>
	<br/>
	<a href="{{ path('admin_commentaires_add') }}" class="btn  btn-info">Ajouter</a>
<br/>


	{% if nbPages > 1 %}
<ul class="pagination">
  {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
  {% for p in range(1, nbPages) %}
    <li{% if p == page %} class="active"{% endif %}>
			<a href="#" onclick="javascript:clickering({{p}});">{{ p }}</a>
    </li>
  {% endfor %}
</ul>
{% endif %}
	<br/>
<script>
function clickering(page){
$('#sbeae_enregistrement_page').val(page);
$('#sbeae_enregistrement').submit();
return false;
}
</script>
{% endblock %}
