{% extends '//hebline.html.twig' %}

{% block body %}

<div class="fenetre-centered2">
	<div id="capture">
		<iframe src="{{ path('hebline_enregistrements_capture', { 'id': enreg.id }) }}" width="290" height="800"></iframe>
	</div>
	<div id="donnees">
    <h1>Enregistrement {{ enreg.id }}</h1>
    <table width="540">
        <tbody>
			<tr>
                <th>Date relève : </th>
                <td>{{ enreg.datereleve | date('d-m-Y')}}</td>
            </tr>
		    <tr>
                <th>Enregistré le : </th>
                <td>{{ enreg.datecrea | date('d-m-Y H:i')}}</td>
            </tr>
			<tr>
                <th>Chantier : </th>
                <td>{{ enreg.chantier.nom }} ({{ enreg.chantier.client.nom }})</td>
            </tr>
			<tr>
                <th>Titre : </th>
                <td>{{ enreg.titre}}</td>
            </tr>
			<tr>
                <th>Utilisateur : </th>
                <td>{{ enreg.user.prenom }} {{ enreg.user.nom }}</td>
            </tr>

                <th>Relevé : </th>
				<td>{{ enreg.releve }}</td>
			</tr>
			<tr>
                <th>Infructueux : </th>
				<td>{{ enreg.infructueux }}</td>
			</tr>
			<tr>
                <th>Total Opérateur: </th>
				<td>{{ enreg.total }}</td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>
			</tr>
			<tr>
                <th>Cloture : </th>
				<td>
				{% if enreg.cloture == 1 %}Oui{% else %}Non{% endif %}
				</td>
			</tr>
				{% if enreg.cloture == 1 %}
				<tr><th>Relevé Cloture : </th><td>{{ enreg.cloturereleve }}</td></tr>
				<tr><th>Infructueux Cloture : </th><td>{{ enreg.clotureinfructueux }}</td></tr>
				<tr><th>Total Cloture : </th><td>{{ enreg.cloturetotal }}</td></tr>
				<tr>
				<td colspan="2"><hr></td>
				</tr>
				{% endif %}
			<tr>
			<tr>
                <th>Type OCR : </th>
                                <td>{% if enreg.typeocr.nom is defined %}{{ enreg.typeocr.nom}}{% endif %}</td>
            </tr>
			<tr>
                <th>OCR Total : </th>
				<td>{{ enreg.totalocr }}</td>
			</tr>
			<tr>
                <th>Total Total Tournées  : </th>
				<td>{{ enreg.totalOcrTournee }}</td>
			</tr>
			<tr>
                <th>Commentaire : </th>
				<td>{{ enreg.commentaire | raw }}</td>
			</tr>
			<tr>
                <th>Contrôle : </th>
				<td>
						{% if enreg.controle == 1 %}
							Oui
						{% else %}
							Non
						{% endif %}
				</td>
			</tr>
			<tr>
                <th>Alerte : </th>
				<td>{% if enreg.alerte == 1 %}<span style="font-size: 2em; color: Tomato;"><i class="fas fa-exclamation-triangle"></i></span>{% else %}-{% endif %}</td>
			</tr>
			{% if enreg.alerte == 1 %}
			<tr>
				 <th>&nbsp;</th>	<td>{{ enreg.textalerte | raw }}</td>
			</tr>
			{% endif %}
       </tbody>
    </table>
	<br/><br/>
	 <h1>Tournées</h1>
    <table class="table" style="width:500px !important;">
        <thead>
            <tr>
				<td>Code</td>
                <th>Total</th>
				<th>Relevé</th>
				<th>Infructueux</th>
				<th>Reste</th>
                <th>Commentaire</th>
            </tr>
        </thead>
        <tbody>
            {% for tournee in tournees %}
                <tr>
					<td>{{ tournee.code }}</td>
                    <td>{{ tournee.total }}</td>
					<td>{{ tournee.releve }}</td>
					<td>{{ tournee.infructueux }}</td>
					<td>{{ tournee.restant }}</td>
					<td>{{ tournee.commentaire | raw }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
	<a href="javascript:history.go(-1)" class="btn btn-info">Retour à la liste</a>&nbsp;<a href="{{ path('hebline_enregistrements_edit', { 'id': enreg.id }) }}" class="btn btn-info">Modifier</a><br/>
</div>
</div>
<script>

$(document).ready(function() {
    $('[data-rel=popover]').popover({
      html: true,
      trigger: "hover"
    });
 });
</script>
{% endblock %}
