{% extends '//'~repo~'.html.twig' %}

{% block body %}
  <style>.popover {width:350px !important;}</style>
<div class="fenetre-centered">
{% for label, messages in app.session.flashbag.all %}
   <div class="alert alert-notice">
         {% for message in messages %}
		  <div class="alert alert-notice">
           {{message}}
		   </div>
        {% endfor %}
    </div>
{% endfor %}
    <h1>{{ titre }}</h1>
      <a href="#recherche" class="btn btn-info" data-toggle="collapse">Rechercher</a>
<div class="well collapse" id="recherche">
	{{ form(form, {'attr': {'id': 'sbeae_pointage'}}) }}
</div>
{% set trans_day_hash = {
        "Monday": "Lundi",
        "Tuesday": "Mardi",
        "Wednesday": "Mercredi",
        "Thursday": "Jeudi",
        "Friday": "Vendredi",
        "Saturday": "Samedi",
        "Sunday": "Dimanche"
    }
%}
	<table id="myTable" class="table-striped table-bordered">
  <tr class="header">
        <th width="200">Chantier</th>
        <th width="200">Agent</th>
            {% set start_date = date1 %}
            {% set end_date = date2 %}
            {% for x in range(start_date|date('U'), end_date|date('U'), 86400 ) %}
            <th width="120">{{ trans_day_hash[x|date('l')] }} {{x|date('d/m/Y') }}</th>
            {% endfor %}
    </tr>
        <tbody>
          {% set chantier0 = 0 %}
		{% for chantier in chantiers %}
      {% for chantieruser in chantier.chantierusers %}
        <tr>
        <td>
          {% if chantier.id != chantier0 %}
          {{ chantier.nom}}
          {% set chantier0 = chantier.id %}
          {% endif %}
        </td>
        <td>{{ chantieruser.user.nom }} {{ chantieruser.user.prenom }}</td>
            {% set start_date = date1 %}
            {% set end_date = date2 %}
            {% for x in range(start_date|date('U'), end_date|date('U'), 86400 ) %}
              {#condition sur chantier en cours#}
              {% if (chantier.datedebut|date('Ymd') <= x|date('Ymd')) and (chantier.datefin|date('Ymd') >= x|date('Ymd')) %}
              {% if pointeurs[chantieruser.user.id][x|date('Y-m-d')] is defined %}
                  <td width="60" data-original-title="999" data-container="body"
 data-toggle="tooltip" data-placement="bottom" title="{{ pointeurs[chantieruser.user.id][x|date('Y-m-d')].commentaire }}">{{ pointeurs[chantieruser.user.id][x|date('Y-m-d')].datecrea|date('d/m/Y h:i') }}
{% if pointeurs[chantieruser.user.id][x|date('Y-m-d')].commentaire != '' %}*{% endif %}
{% if indications[chantieruser.user.id][x|date('Y-m-d')] is defined %} <strong>{{indications[chantieruser.user.id][x|date('Y-m-d')] }}</strong>{% endif %}
</td>
              {% elseif  indications[chantieruser.user.id][x|date('Y-m-d')] is defined and trans_day_hash[x|date('l')] != 'Dimanche' %}
                  <td><strong>{{ indications[chantieruser.user.id][x|date('Y-m-d')] }}</strong></td>
              {% else  %}
                        {% if  trans_day_hash[x|date('l')] != 'Dimanche' %} <td style="background-color:#fe7066">&nbsp;</td>
                        {% else %}<td style="background-color:#000000">&nbsp;</td>{% endif %}
              {% endif %}

              {% else  %}
                  <td>&nbsp;</td>
              {% endif %}
            {% endfor %}
        </tr>
      {% endfor %}
    {% endfor %}
        </tbody>
    </table>
    (*) un commentaire s'affiche au passage de la souris<br><br>
  <button id="excel" class="btn btn-infos"><img src="/images/excel.png" width="40">&nbsp;&nbsp;Export Excel</button>
<br/>
<script>
$(document).ready(function() {
  $('#sbeae_pointage').val(0);
    $('#excel').click(function() {
    $('#sbeae_pointage_excel').val(1);
    $('#sbeae_pointage').submit();
    $('#sbeae_pointage_excel').val(0);
  });
});
</script>
{% endblock %}
