{% block body %}
<div id="entete-resultat">
</div>
<div id="fenetre-centre">
<h2>Mot de passe</h2>
<br/>

            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="alert alert-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

<br/>
<form action="{{ path('fos_user_change_password') }}" method="POST" class="fos_user_change_password">
<div class="form_errors_change_pwd">
    {{ form_errors(form) }}
</div>
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="Changer le mot de passe" class="btn"/>
    </div>
</form>
</div>
{% endblock %}