{% extends '//front.html.twig' %}

{% block body %}
{% if error %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
{% for label, messages in app.session.flashbag.all %}
   <div class="alert alert-notice">
         {% for message in messages %}
		  <div class="alert alert-notice">
           {{message}}
		   </div>
        {% endfor %}
    </div>
{% endfor %}
<div id="fenetre-centre">
<h2>Mon compte</h2>
<br/><br/>
	<form method="post">
	   <div class="register"><input type="text" id="username" name="_username" value="" required="required" class="form-control clw100"></div>
	   <div class="register"><input type="password" id="password" name="_password" required="required" placeholder="Mot de passe" class="form-control clw100"></div>
                   <input
                type="hidden"
                name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
              />
	   <input type="checkbox" id="remember_me" name="_remember_me" value="on"  class="checkbox"/>
	   <label for="remember_me">Mémoriser</label>
	<br/>
	{% if app.request.get('route') != '' %}
		<input type="hidden" name="_target_path" value="{{ absolute_url(path(app.request.get('route'), {'id': app.request.get('id')})) }}" />
	{% endif %}
	<br/>
	   <div class="register"><input class="btnp boutonjour blanc" type="submit" id="_submit" name="_submit" value="S'identifier" /></div>
	 </form>
	<br/>
	</div>
</div>
{% endblock %}
