<div id="entete-resultat">
</div>
<div id="fenetre-register">
    <h1>Mot de passe</h1>
	<br/><br/>
	<div id="fenetre">
<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div class="register">
        <input class="formcontrol clw100" type="text"  id="username" name="username" required="required" placeholder="Email"/>
    </div>
	<br/>
	<div class="register">
        <input type="button" id="reinit" value="Réinitialiser le mot de passe"  class="btn btn-download" />
    </div>
</form>
</div>
</div>
</div>
<script>
$('#reinit').click(function() {
var username=$('#username').val();

 if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(username))
  {
$.ajax({
  method: "POST",
  url: "{{ path('fos_user_resetting_send_email') }}",
  data : 'username=' + username
})
  .done(function( msg ) {
	if(msg != ""){
	$('#fenetre').html(msg);
	}
	else{
    alert( "PB Connexion");
	}
  });
  }
  else{
	alert('Merci de vérifier votre Email');
  }
return false;
});
</script>