{% extends '//hebline.html.twig' %}

{% block body %}
<div class="fenetre-centered">
    <h1>Paramétrage</h1>
{% for label, messages in app.session.flashbag.all %}
   <div class="alert alert-notice">
         {% for message in messages %}
		  <div class="alert alert-notice">
           {{message}}
		   </div>
        {% endfor %}
    </div>
{% endfor %}
    <table class="table">
        <thead>
            <tr>
                <th>Nom de la zone</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
		{% for zone in zones %}
            <tr >
				<td>{{ zone.nom }}</td>
                <td>
                    <a href="{{ path('admin_zones_edit', { 'id': zone.id }) }}" class="btn btn2">Modifier</a>
				</td>
            </tr>
		 {% endfor %}
        </tbody>
    </table>
	<a href="{{ path('admin_zones_add') }}" class="btn btn2">Ajouter une zone</a>
<br/>
<br/>
{% endblock %}
