{% extends '//hebline.html.twig' %}

{% block body %}
<div class="fenetre-centered">
{% for label, messages in app.session.flashbag.all %}
   <div class="alert alert-notice">
         {% for message in messages %}
		  <div class="alert alert-notice">
           {{message}}
		   </div>
        {% endfor %}
    </div>
{% endfor %}

    <h1>{{ titre }}</h1>
	<table id="myTable" width="100%" class="table-striped table-bordered">
  <tr class="header">
				<th>Zone</th>
                <th>Nom</th>
				<th>Client</th>
				<th>Démarrage</th>
				<th>Fin</th>

				<th>Actions</th>
  </tr>
        <tbody>
		{% for enreg in enregs %}
            <tr >
				<td>{{ enreg.zone.nom }}</td>
				<td>{{ enreg.nom }}</td>
				<td>{{ enreg.client.nom }}</td>
				<td>{{ enreg.datedebut|date('d-m-Y') }}</td>
				<td>{{ enreg.datefin|date('d-m-Y') }}</td>
                <td>
                    <a href="{{ path('hebline_chantiers_edit', { 'id': enreg.id }) }}" class="btn btn-info">Modifier</a>
					<a href="{{ path('hebline_chantiers_users', { 'id': enreg.id }) }}" class="btn  btn-info">Intervenants ({{ countUsers[enreg.id] }})</a>
				</td>
            </tr>
		 {% endfor %}
        </tbody>
    </table>
	<br/>
	<a href="{{ path('hebline_chantiers_add') }}" class="btn  btn-info">Ajouter</a>
<br/>
{% endblock %}
