{% extends '//hebline.html.twig' %}

{% block body %}
<div class="fenetre-centered">
    <h1>Paramétrage</h1>
<!-- Zone id : {{ zone.id }} -->
    <table width="800">
        <tbody>
		    <tr>
                <th>Nom du chantier : </th>
                <td>{{ zone.nom }}</td>
            </tr>
            <tr>
                <th>Date début :  </th>
                <td>{{ zone.nomcontact }}</td>
            </tr>
			<tr>
                <th>Date fin :  </th>
                <td>{{ zone.emailcontact }}</td>
            </tr>

            <tr>
                <th>Logo : </th>
                <td>{% if zone.docname != ''%}<img src="/uploads/documents/{{ zone.docname }}" alt="" style="max-width: 500px;">{% endif %}</td>
            </tr>
			<tr>
                <th>Signature : </th>
                <td>{% if zone.docname2 != ''%}<img src="/uploads/documents/{{ zone.docname2 }}" alt="" style="max-width: 500px;">{% endif %}</td>
            </tr>
        </tbody>
    </table>
	<a href="{{ path('leo_commerce_superadmin_zone') }}" class="btn">Retour à la liste</a><a href="{{ path('leo_commerce_superadmin_zone_edit', { 'id': zone.id }) }}" class="btn">Modifier</a><br/>
</div>
{% endblock %}
