{% extends '//layout.html.twig' %}

{% block body %}
<div class="fenetre-centered">
    <h1>Paramétrage</h1>
{% for message in app.flashes('success') %}
    <div class="alert alert-success">
		{{ message }}
    </div>
{% endfor %}
<div id="formulaire">
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
    {{ form_end(edit_form) }}
            <a href="{{ path('admin_zones') }}" class="btn">Retour à la liste</a>
</div>
			</div>		
{% endblock %}