{% extends '//admin2.html.twig' %}

{% block body %}
<div class="fenetre-centered">
    <h1>Paramétrage</h1>
{% for label, messages in app.session.flashbag.all %}
   <div class="alert alert-notice">
         {% for message in messages %}
		  <div class="alert alert-notice">
           {{message}}
		   </div>
        {% endfor %}
    </div>
{% endfor %}
    <table class="table">
        <thead>
            <tr>
                <th>Nom de la zone</th>
				<th>Nom du contact</th>
				<th>Email Contact</th>
                <th>Email Admin</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for zone in zones %}
            <tr >
				<td>{{ zone.nom }}</td>
				<td>{{ zone.nomcontact}}</td>
				<td>{{ zone.emailcontact}}</td>
                <td>{{ zone.emailadmin}}</td>
                <td>
                    <a href="{{ path('leo_commerce_superadmin_zone_detail', { 'id': zone.id }) }}" class="btn btn2">Détail</a>
                    <a href="{{ path('leo_commerce_superadmin_zone_edit', { 'id': zone.id }) }}" class="btn btn2">Modifier</a>
				</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<br/>
<br/>
{% endblock %}
