{% extends '//superadmin.html.twig' %}

{% block body %}
<div class="fenetre-centered">
{% for label, messages in app.session.flashbag.all %}
   <div class="alert alert-notice">
         {% for message in messages %}
		  <div class="alert alert-notice">
           {{message}}
		   </div>
        {% endfor %}
    </div>
{% endfor %}
    <h1>{{ titre }}</h1>
<div class="well" id="recherche">
	{{ form(form, {'attr': {'id': 'sbeae_cloture'}}) }}
</div>
<div style="overflow: auto;">
<table border="1" class="table">
		<tr valign="top">
			<td>Sites</td>
			<td>Opérateurs</td>
			{% set start_date = date1 %}
			{% set end_date = date2 %}
			{% for x in range(start_date|date('U'), end_date|date('U'), 86400 ) %}
			   <td>
			   <div class="left_menu">
			   {{ x|date('d/m/Y') }}<br/>
			   <div class="cell">Capt.</div><div class="cell">Rel.</div><div class="cell">Inf</div><div class="cell">Total</div><div class="cell">CA</div><br/>
			   </div>
			   </td>
			{% endfor %}
				<td>
			   <div class="left_menu2">
			   TOTAL SITE<br/>
			   <div class="cell"><strong>Rel.</strong></div><div class="cell"><strong>Inf</strong></div><div class="cell">%</div><div class="cell"><strong>Total</strong></div><div class="cell">CA</div><div class="cell"><strong>Jours Homme</strong></div><div class="cell">Panier</div><br/>
			   </div>
			   </td>
		</tr>
{% set lastC = 0 %}

		{% for chantier in chantiers %}
			{% if lastC > 0 and lastC != chantier.id %}
				<tr valign="top"  class="bg-primary">
					<td colspan="2">TOTAL SITE</td>
								{% set start_date = date1 %}
								{% set end_date = date2 %}
								{% set TotalS = 0 %}
						{% for x in range(start_date|date('U'), end_date|date('U'), 86400 ) %}

						   <td>
										<div class="cell">&nbsp;</div><div class="cell">&nbsp;</div><div class="cell">&nbsp;</div><div class="cell"><strong>{% if totdaySite[x|date('Y-m-d')][lastC] is defined %}{{ totdaySite[x|date('Y-m-d')][lastC] }}{% set TotalS = TotalS + totdaySite[x|date('Y-m-d')][lastC] %}{% else %}0{% endif %}</strong></div><div class="cell"><strong>{% if cadaysite[x|date('Y-m-d')][lastC] is defined %}{{ cadaysite[x|date('Y-m-d')][lastC] }}{% endif %}</strong></div>

						   </td>

						{% endfor %}
					<td>
						{{ TotalS }} - <strong>{% if casite[lastC] is defined %}CA site :{{ casite[lastC] }}{% endif %}</strong>
					</td>
				</tr>
				{% set lastC = chantier.id %}
			{% endif %}
			{% if lastC == 0 %}
				{% set lastC = chantier.id %}
			{% endif %}
			{% for user in users[chantier.id] %}
			{% if chantier.nom !='' %}
				<tr valign="top">
					<td>{{ chantier.nom }} {{ chantier.client.nom }}</td>
					<td>
						{{ user.prenom }} {{ user.nom }} ({{ user.mobile??''}}
					</td>
							{% set infructueux = 0 %}
							{% set releve = 0 %}
							{% set total = 0 %}
							{% for x in range(start_date|date('Y-m-d'), end_date|date('Y-m-d'), 86400 ) %}
							{% set totaljour={x:0} %}

							{% endfor %}
				{% for x in range(start_date|date('U'), end_date|date('U'), 86400 ) %}

				   <td>
						{% if donnees[chantier.id][x|date('Y-m-d')][user.id] is defined %}
								{% for enreg in	donnees[chantier.id][x|date('Y-m-d')][user.id] %}

								<div class="cell">
								{% for document in enreg.documents %}
											{% if document.filename != '' %}
											<a href="#"><span style="font-size: 1em; color: #4ab9da;"><i class="fas fa-image" data-rel="popover" title="<strong>Capture</strong>" data-placement="top" data-content="<img src='/uploads/documents/{{ document.filename }}' width=100% height=100%>"></i></span></a>
											{% endif %}
								{% endfor %}
									</div>
									{% set infructueux = infructueux  + enreg.infructueux %}
									{% set releve = releve + enreg.releve %}
									{% set total = total + enreg.total %}
								<div class="cell">{{ enreg.releve }}</div><div class="cell">{{ enreg.infructueux }}</div><div class="cell"><strong>{{ enreg.total }}</strong></div><div class="cell"><strong></strong></div><br style="clear: both;">
								{% endfor %}
						{% endif %}&nbsp;
				   </td>
				{% endfor %}
					<td >
							   <div class="left_menu2">
							   <div class="cell bg-primary"><strong>{{ releve }}</strong></div><div class="cell"><strong>{{ infructueux }}</div>
							   <div class="cell">{{ infruct[user.id][chantier.id]??0 }}</strong></div><div class="cell bg-primary"><strong>{{ total }}</strong></div>
							   <div class="cell bg-primary"><strong>{{ causersite[user.id][chantier.id]??0 }}</strong></div>
							   <div class="cell  bg-success"><strong>{{ totjourchantieruser[chantier.id][user.id]??0 }}</strong></div>
							   <div class="cell bg-success"><strong>{% if  issetpaniers[chantier.id][user.id] is defined %}{% if  paniers[chantier.id][user.id] > 0 %}{{ totjourchantieruser[chantier.id][user.id]??0 }}{% else %} 0{% endif %}{% else %} 0{% endif %}</strong></div>
							   <br/>
							   </div>
					</td>
				</tr>
				{% endif %}
			{% endfor %}
		 {% endfor %}
		 <tr valign="top"  class="bg-primary">
					<td colspan="2">TOTAL SITE</td>
								{% set start_date = date1 %}
								{% set end_date = date2 %}
								{% set TotalS = 0 %}
						{% for x in range(start_date|date('U'), end_date|date('U'), 86400 ) %}
						   <td>
										<div class="cell">&nbsp;</div><div class="cell">&nbsp;</div><div class="cell">&nbsp;</div><div class="cell"><strong>{% if totdaySite[x|date('Y-m-d')][lastC] is defined %}{{ totdaySite[x|date('Y-m-d')][lastC] }}{% set TotalS = TotalS + totdaySite[x|date('Y-m-d')][lastC] %}{% else %}0{% endif %}</strong></div><div class="cell"><strong>{% if cadaysite[x|date('Y-m-d')][lastC] is defined %}{{ cadaysite[x|date('Y-m-d')][lastC] }}{% endif %}</strong></div></div>
						   </td>
						{% endfor %}
					<td>
						{{ TotalS }} <strong>{% if casite[lastC] is defined %}CA site :{{ casite[lastC] }}{% endif %}</strong>
					</td>
				</tr>
			<tr valign="top"  class="bg-primary">
					<td colspan="2">TOTAL JOUR</td>
								{% set start_date = date1 %}
								{% set end_date = date2 %}
								{% set TotalS = 0 %}
						{% for x in range(start_date|date('U'), end_date|date('U'), 86400 ) %}
						   <td>
										<div class="cell">&nbsp;</div><div class="cell">&nbsp;</div><div class="cell">&nbsp;</div><div class="cell"><strong>{% if totday[x|date('Y-m-d')] is defined %}{{ totday[x|date('Y-m-d')] }}{% set TotalS = TotalS + totday[x|date('Y-m-d')] %}{% else %}0{% endif %}</strong></div><div class="cell"><strong>{% if cadaytotal[x|date('Y-m-d')] is defined %}{{ cadaytotal[x|date('Y-m-d')] }}{% endif %}</strong></div>
						   </td>
						{% endfor %}
					<td>
						{{ TotalS }} - CA total : {{ catotal }}
					</td>
			</tr>
    </table>
<br/>
<button id="excel" class="btn btn-infos"><img src="/images/excel.png" width="40">&nbsp;&nbsp;Export Excel</button>
</div>
</div>


<script>
$(document).ready(function() {
    $('[data-rel=popover]').popover({
      html: true,
      trigger: "hover"
    });
});
</script>
<script>
$(document).ready(function() {
	$('#sbeae_enregistrement_excel').val(0);
	$('#excel').click(function() {
		$('#sbeae_enregistrement_excel').val(1);
		$('#sbeae_cloture').submit();
		$('#sbeae_enregistrement_excel').val(0);
	});
});
</script>
{% endblock %}
