{% extends '//admin.html.twig' %}

{% block body %}
<div class="fenetre-centered">
{% for label, messages in app.session.flashbag.all %}
   <div class="alert alert-notice">
         {% for message in messages %}
		  <div class="alert alert-notice">
           {{message}}
		   </div>
        {% endfor %}
    </div>
{% endfor %}
    <h1>{{ titre }}</h1>
    <table  class="table-striped table-bordered">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
		{% for enreg in enregs %}
            <tr >
				<td>{{ enreg.nom }}</td>
                <td>
                    <a href="{{ path('admin_clients_edit', { 'id': enreg.id }) }}" class="btn btn-info">Modifier</a>
				</td>
            </tr>
		 {% endfor %}
        </tbody>
    </table>
	<a href="{{ path('admin_clients_add') }}" class="btn btn-info">Ajouter</a>
<br/>
<br/>
{% endblock %}
