{% extends '//'~repo~'.html.twig' %}

{% block body %}
<style>


.edit-images {width:20px; height: 20px;}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

</style>
<div style="margin: 0 auto;max-width:800px;">
<div class="fenetre-centered">
    <h1>Matériel {{ chantier.nom }}</h1>
	Du {{ chantier.datedebut|date('d-m-Y') }} au {{ chantier.datefin|date('d-m-Y') }}
<p>&nbsp;</p>
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
    {{ form_end(edit_form) }}
<p></p>
<p><div id="suivi"></div></p>
{% for prestation in prestations %}
  <H2>{{ prestation.nom }}</H2>
{% set materiaux = materiels[prestation.id] %}
<table width="800">
  <tr class="header">
  <th style="width: 150px"></th>
	<th style="width: 150px">Sélection</th>
	<th style="width: 150px">Tarif</th>
	<th></th>
  </tr>
  <tbody>
     		{% for materiel in materiaux %}
		    <tr>
        <td>{{ materiel.nom }}</td>
        <td id='sel'>
				{% if materielsOK[materiel.id] is defined %}
					<label class="switch">
					  <input type="checkbox" class="selecter" value="{{ materiel.id }}" checked>
					  <span class="slider round"></span>
					</label>
				{% else %}
					<label class="switch">
					  <input type="checkbox" class="selecter" value="{{ materiel.id }}">
					  <span class="slider round"></span>
					</label>
				{% endif %}
				</td>
        <td class="panier">
				{% if materielsOK[materiel.id] is defined  %}
					  <input type="number" step="any" min="0" class="tarif" value="{{ materielsOK[materiel.id] }}">
				{% else %}
					  <input type="number" step="any" min="0" class="tarif" value="{{ materiel.tarif }}">
				{% endif %}
				</td>
				<td class="edition" id="ed">

				{% if materielsOK[materiel.id] is defined %}
					<button  class="btn btn-info bout" id="{{ materiel.id }}" disabled>Enregistrer le tarif</button >
				{% else %}
					<button  class="btn btn-info bout" style="display: none;" id="{{ materiel.id }}" disabled>Enregistrer le tarif</button >
				{% endif %}
				</td>
            </tr>
		{% endfor %}

  </tbody>
</table><br/>{% endfor %}
	<a href="{{ path('hebline_chantiers') }}" class="btn btn-info">Retour aux sites</a>
</div>
<script>

$(".selecter").click(function() {
	id=$(this).attr("value");
	if ($(this).is(':checked')){action='add';$(this).parent().parent().parent().find('button').show();}else{action='remove';$(this).parent().parent().parent().find('button').hide();}
      tarif=$(this).parent().parent().parent().find('.tarif').val();
	memoire(action, id, tarif,$(this));
});
$('.tarif').mousedown(function () {
        $(this).parent().parent().find('.bout').prop('disabled', false);
});
$(".bout").click(function() {
	    id=$(this).attr("id");
	    tarif=$(this).parent().parent().find('.tarif').val();
      //alert(tarif+' '+id);
      action='update';
      $(this).prop('disabled', true);
	memoire(action, id, tarif,$(this));
});

function memoire(action, id, tarif, element){
	$.ajax({
	  method: "GET",
	  url: "/{{ repo }}/chantiers/materiel/"+action+"/{{ chantier.id }}/"+id+"/"+tarif+"/"
	})
	  .done(function( msg ) {
		if(msg == 1){
		$('#suivi').html('Modification enregistrée : '+id);
		}
    else if(msg == 2){
   element.parent().parent().parent().find('button').show();
   element.prop('checked', true);
    $('#suivi').html('Modification annulée, des enregistrements bloquent la modif'+id);
    alert('Modification annulée, des enregistrements bloquent la modif');
    }
		else{
		alert( "PB: " + msg );
		}
	  });


	return false;
}


</script>
{% endblock %}
