{% extends '//hebline.html.twig' %}

{% block body %}

<div class="fenetre-centered">
{% for label, messages in app.session.flashbag.all %}
   <div class="alert alert-notice">
         {% for message in messages %}
		  <div class="alert alert-notice">
           {{message}}
		   </div>
        {% endfor %}
    </div>
{% endfor %}
    <h1>{{ titre }}</h1>
<div class="well" id="recherche">
	{{ form(form, {'attr': {'id': 'sbeae_activite'}}) }}
</div>
	<script src="https://code.jquery.com/jquery-1.11.3.js"></script>
    <script src="https://cdn.anychart.com/releases/8.6.0/js/anychart-base.min.js" type="text/javascript"></script>
	<script src="https://cdn.anychart.com/releases/8.6.0/js/anychart-data-adapter.min.js" type="text/javascript"></script>
	{% set q = 0 %}  
	<script>
	{% for site in chantiers %}
		anychart.onDocumentReady(function () {
		anychart.data.loadJsonFile("/hebline/stats_activite/{{date | date('Y-m-d')}}/{{site.id}}/", function (data) {
		var chart = anychart.fromJson(data);
		
		{% if q == 0 %}
		   chart.getSeriesAt(1).name("Infructueux");
		   chart.getSeriesAt(0).name("Clôtures");
		   chart.getSeriesAt(3).name("Infructueux");
		   chart.getSeriesAt(2).name("Relevés");
		   chart.legend(true);
		  {% endif %}
			chart.barsPadding(1);
			chart.barGroupsPadding(2);
		   chart.getSeriesAt(1).pointWidth(15);
		   chart.getSeriesAt(0).pointWidth(15);
		   chart.getSeriesAt(3).pointWidth(15);
		   chart.getSeriesAt(2).pointWidth(15);
		       // define zoom settings
    chart.xZoom().setToPointsCount(8);

    // enable and configure the scroller
    chart.xScroller(true);
    chart.xScroller().orientation("right");
    chart.xScroller().thumbs(false);

    // prevent the range changing
    chart.xScroller().allowRangeChange(false);  
		   chart.yScale().minimum(0);
		chart.title().text("{{site.nom}}");
		chart.container("container{{q}}");
		chart.draw();
    });});
	{% set q = q+1 %}
	{% endfor %}
    </script>
	{% set q = 0 %}
	{% for site in chantiers %}
    <div id="container{{q}}" class="container-anychart"></div>
		{% set q = q+1 %}
	{% endfor %}
</div>
{% endblock %}

