{% extends '//'~repo~'.html.twig' %}

{% block body %}
<div class="fenetre-centered">
{% for label, messages in app.session.flashbag.all %}
   <div class="alert alert-notice">
         {% for message in messages %}
		  <div class="alert alert-notice">
           {{message}}
		   </div>
        {% endfor %}
    </div>
{% endfor %}
    <h1>{{ titre }}</h1>
<div class="well" id="recherche">
	{{ form(form, {'attr': {'id': 'sbeae_cloture'}}) }}
</div>
<br/>
</div>
</div>

<script>
$(document).ready(function() {
	$('#sbeae_enregistrement_excel').val(0);
	$('#excel').click(function() {
		$('#sbeae_enregistrement_excel').val(1);
		$('#sbeae_cloture').submit();
		$('#sbeae_enregistrement_excel').val(0);
	});
});
</script>
{% endblock %}
