{% extends '//front.html.twig' %}

{% block body %}
<div class="fenetre-centered">
    <h1>{{ titre }}</h1>
<br/>
<strong>Tutoriel vidéo pour réaliser vos enregistrements<br/></strong>
<iframe width="560" height="315" src="https://www.youtube.com/embed/TI_u6ZGyO5E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br/>
<strong>Consignes captures PDA Véolia<br/></strong>
1- Captures de plusieures tournées : si vous avez des captures de plusieures tournées, vous devez réaliser un enregistrement par tournée.<br/><br/>
2- La première capture doit afficher lisiblement les données total tournée<br/>
<img src="/images/capture-veolia-ok.jpg" width="370"><br/><br/><img src="/images/capture-veolia-nok.jpg" width="370"><br/>
</div>
{% endblock %}
