{% extends '//front.html.twig' %}

{% block body %}
<div class="fenetre-centered">
{% for label, messages in app.session.flashbag.all %}
   <div class="alert alert-notice">
         {% for message in messages %}
		  <div class="alert alert-notice">
           {{message}}
		   </div>
        {% endfor %}
    </div>
{% endfor %}
    <h1>{{ titre }}</h1>
	{% if responsable is defined %}
	<p>Votre chargé d'affaire : <strong>{{ responsable.prenom }} {{ responsable.nom }}</strong><br/>
	Tel : <strong>{{ responsable.mobile }}</strong><br/>
	Email : <strong><a href="mailto:{{ responsable.email }}">{{ responsable.email }}</a></strong><br/>
	</p>
	{% endif %}
<br/>
<br/>
{% endblock %}
