{% extends '//front.html.twig' %}

{% block body %}
	<div style="margin:10px;">
    <h1>Enregistrement {{ enreg.id }}</h1>
    <table width="100%">
        <tbody>
			<tr>
                <th>Date relève : </th>
                <td>{{ enreg.datereleve | date('d-m-Y')}}</td>
            </tr>
		    <tr>
                <th>Enregistré le : </th>
                <td>{{ enreg.datecrea | date('d-m-Y')}}</td>
            </tr>
			<tr>
                <th>Chantier : </th>
                <td>{{ enreg.chantier.nom }} ({{ enreg.chantier.client.nom }})</td>
            </tr>
			<tr>
			<tr>
                <th>Cloture : </th>
				<td>
				{% if enreg.cloture == 1 %}Oui{% else %}Non{% endif %}
				</td>
			</tr>
			<tr>
                <th>Relevé : </th>
				<td>{{ enreg.releve }}</td>
			</tr>
			<tr>
                <th>Infructueux : </th>
				<td>{{ enreg.infructueux }}</td>
			</tr>
			<tr>
                <th>Total : </th>
				<td>{{ enreg.total }}</td>
			</tr>
			<tr>
			<th>Nouv. Compteur : </th>
				<td>{{ enreg.newcompteur }}</td>
			</tr>
			<tr>
                <th>Commentaire : </th>
				<td>{{ enreg.commentaire | raw }}</td>
			</tr>
			<td colspan="2">
			<br/><br/>
	<a href="javascript:history.go(-1)" class="btn btn-info">Retour à la liste</a><br/><br/>
                {% for document in enreg.documents %}
                      {% if document.filename != '' %}
                      <img src='/uploads/documents/{{ document.filename }}'  width=300>
                      {% endif %}
                {% endfor %}
			</td>
			</tr>
       </tbody>
    </table>
	<br/><br/>
	<a href="javascript:history.go(-1)" class="btn btn-info">Retour à la liste</a><br/>
</div></div>
<script>
$(document).ready(function() {
    $('[data-rel=popover]').popover({
      html: true,
      trigger: "hover"
    });
	$('#sbeae_enregistrement_page').val(1);
});

</script>
{% endblock %}
