{% extends '//front.html.twig' %}

{% block body %}
<div class="fenetre-centered">
{% for label, messages in app.session.flashbag.all %}
   <div class="alert alert-notice">
         {% for message in messages %}
		  <div class="alert alert-notice">
           {{message}}
		   </div>
        {% endfor %}
    </div>
{% endfor %}
    <h1>{{ titre }}</h1>
<div class="well" id="recherche">
	{{ form(form, {'attr': {'id': 'sbeae_enregistrement'}}) }}
</div>
	<table id="myTable" width="100%" class="table-striped table-bordered">
    <thead>
  <tr class="header">
    <th>Date</th>
				<th>Date</th>
				<th>Site</th>
        <th>Compt.A.</th>
        <th>Compt.I.</th>
        <th>CC+M</th>
        <th>Mod.A.</th>
        <th>Mod.I.</th>
        <th>Mat.</th>
        <th>Détail</th>
        <th style="width:200px !important;">Comm.</th>
        <th>Capt.</th>
  </tr>
  <thead>
        <tbody>
		{% for enreg in enregs %}
            <tr >
        <td>{{ enreg.datereleve | date('Ymd')}}</td>
				<td>{{ enreg.datereleve | date('d-m-Y')}}</td>
				<td>{{ enreg.chantier.nom }}</td>
<td>{% if totaux[enreg.id][1]  is defined  %}{{ totaux[enreg.id][1] }} {% else %} 0 {% endif %}</td>
        <td>{% if totaux[enreg.id][2]  is defined  %}{{ totaux[enreg.id][2] }} {% else %} 0 {% endif %}</td>
        <td>{% if totaux[enreg.id][3]  is defined  %}{{ totaux[enreg.id][3] }} {% else %} 0 {% endif %}</td>
        <td>{% if totaux[enreg.id][4]  is defined  %}{{ totaux[enreg.id][4] }} {% else %} 0 {% endif %}</td>
        <td>{% if totaux[enreg.id][5]  is defined  %}{{ totaux[enreg.id][5] }} {% else %} 0 {% endif %}</td>
        <td>{% if totaux[enreg.id][6]  is defined  %}{{ totaux[enreg.id][6] }} {% else %} 0 {% endif %}</td>
        <td><button type="button"  class="btn btn-infos" data-rel="popover" title="Détail" data-content=" {% for enregistrementchantiermateriel in enreg.enregistrementchantiermateriels %}
            {{enregistrementchantiermateriel.chantiermateriel.materiel.nom}} : {{enregistrementchantiermateriel.nombre}}<br/>
          {% endfor %}">Détail</button>
        </td>
				<td>{{ enreg.commentaire }}</td>
        <td>
                {% for document in enreg.documents %}
                      {% if document.filename != '' %}
                      <a href="#"><i class="fas fa-image fa-2x" style="margin:5px;" data-rel="popover" title="<strong>Capture</strong>" data-placement="left" data-offset="300" data-content="<img src='/uploads/documents/{{ document.filename }}'  width=300>"></i></a>
                      {% endif %}
                {% endfor %}
        </td>
        </tr>
		 {% endfor %}
        </tbody>
    </table>
	<br/>

<script>

$(document).ready(function() {
    $('[data-rel=popover]').popover({
      html: true,
      trigger: "hover"
    });
	$('#sbeae_enregistrement_page').val(1);
});
function clickering(page){
$('#sbeae_enregistrement_page').val(page);
$('#sbeae_enregistrement').submit();
return false;
}

$(".selecter").click(function() {
	id=$(this).attr("value");
	if ($(this).is(':checked')){action=1;}else{action=0;}
	memoire(action, id);
});

function memoire(action, id){
$.ajax({
  method: "GET",
  url: "/admin/enregistrement/controle/"+id+"/"+action+"/"
})
  .done(function( msg ) {
	if(msg == 1){
	$('#suivi').html('Modification enregistrée : '+id);
	}
	else{
    alert( "PB: " + msg );
	}
  });


return false;
}

</script>

 <script>
      var args ={
      "columnDefs": [{ "visible": false, "targets": 0 }],
      "order": [[ 0, "desc" ]],
            language: {
            processing:     "Traitement en cours...",
            search:         "Rechercher&nbsp;:",
            lengthMenu:    "Afficher _MENU_ &eacute;l&eacute;ments",
            info:           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
            infoEmpty:      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
            infoFiltered:   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
            infoPostFix:    "",
            loadingRecords: "Chargement en cours...",
            zeroRecords:    "Aucun &eacute;l&eacute;ment &agrave; afficher",
            emptyTable:     "Aucune donnée disponible dans le tableau",
            paginate: {
                first:      "Premier",
                previous:   "<",
                next:       ">",
                last:       "Dernier"
            },
            aria: {
                sortAscending:  ": activer pour trier la colonne par ordre croissant",
                sortDescending: ": activer pour trier la colonne par ordre décroissant"
            }
        }
      };
     var table1 = $('#myTable').DataTable( args );
      </script>
{% endblock %}
