{% extends '//front.html.twig' %}

{% block body %}
<div class="fenetre-centered">
{% for label, messages in app.session.flashbag.all %}
   <div class="alert alert-notice">
         {% for message in messages %}
		  <div class="alert alert-notice">
           {{message}}
		   </div>
        {% endfor %}
    </div>
{% endfor %}
    <h1>{{ titre }}</h1>
<div class="well" id="recherche">
	{{ form(form, {'attr': {'id': 'sbeae_enregistrement'}}) }}
</div>
	<table id="myTable" width="100%" class="table-striped table-bordered">
    <thead>
  <tr class="header">
    <th>Date</th>
				<th>Date</th>
				<th>Site</th>
        <th>Rel.</th>
				<th>Inf.</th>
				<th>Total</th>
        <th>N.Compt.</th>
				<th>Commentaire</th>
				<th>&nbsp;</th>
  </tr>
  <thead>
        <tbody>
		{% for enreg in enregs %}
            <tr >
        <td>{{ enreg.datereleve | date('Ymd')}}</td>
				<td>{{ enreg.datereleve | date('d-m-Y')}}</td>
				<td>{{ enreg.chantier.nom }}</td>
				<td>{{ enreg.releve }}</td>
				<td>{{ enreg.infructueux }}</td>
				<td>{{ enreg.total }}</td>
        <td>{{ enreg.newcompteur }}</td>
				<td>{{ enreg.commentaire }}</td>
        <td><a href="{{ path('front_enregistrements_detail', { 'id': enreg.id }) }}" class="btn btn-info">Détail</a></td>
        </tr>
		 {% endfor %}
        </tbody>
    </table>
	<br/>

<script>

$(document).ready(function() {
    $('[data-rel=popover]').popover({
      html: true,
      trigger: "hover"
    });
	$('#sbeae_enregistrement_page').val(1);
});
function clickering(page){
$('#sbeae_enregistrement_page').val(page);
$('#sbeae_enregistrement').submit();
return false;
}

$(".selecter").click(function() {
	id=$(this).attr("value");
	if ($(this).is(':checked')){action=1;}else{action=0;}
	memoire(action, id);
});

function memoire(action, id){
$.ajax({
  method: "GET",
  url: "/admin/enregistrement/controle/"+id+"/"+action+"/"
})
  .done(function( msg ) {
	if(msg == 1){
	$('#suivi').html('Modification enregistrée : '+id);
	}
	else{
    alert( "PB: " + msg );
	}
  });


return false;
}

</script>

 <script>
      var args ={
      "columnDefs": [{ "visible": false, "targets": 0 }],
      "order": [[ 0, "desc" ]],
            language: {
            processing:     "Traitement en cours...",
            search:         "Rechercher&nbsp;:",
            lengthMenu:    "Afficher _MENU_ &eacute;l&eacute;ments",
            info:           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
            infoEmpty:      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
            infoFiltered:   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
            infoPostFix:    "",
            loadingRecords: "Chargement en cours...",
            zeroRecords:    "Aucun &eacute;l&eacute;ment &agrave; afficher",
            emptyTable:     "Aucune donnée disponible dans le tableau",
            paginate: {
                first:      "Premier",
                previous:   "<",
                next:       ">",
                last:       "Dernier"
            },
            aria: {
                sortAscending:  ": activer pour trier la colonne par ordre croissant",
                sortDescending: ": activer pour trier la colonne par ordre décroissant"
            }
        }
      };
     var table1 = $('#myTable').DataTable( args );
      </script>
{% endblock %}
