{% extends '//front.html.twig' %}

{% block body %}
<style>
.form-group {width: 100%; display : flex;margin: 0;padding: 0;margin-bottom: 5px;}
.formlabel {width: 280px;}
.formnombre {width: 60px;}
.custom-file-label { opacity: 0 !important; }
.custom-file-input { opacity: 1 !important; }
#enregistrement_renou_new_save {float: right;}
</style>
<div class="fenetre-centered">
{% for label, messages in app.session.flashbag.all %}
   <div class="alert alert-notice">
         {% for message in messages %}
		 {% if message != '' %}
		  <div class="alert alert-{{ label }}">{{message}}</div>
		   {% endif %}
        {% endfor %}

    </div>
{% endfor %}
    <h1>{{ titre }}</h1>
  <br/><br/>
<div class="fenetre-centered">
    {{ form_start(form) }}
        {{ form_widget(form) }}


<a href="#" id="add_pooldocformation" class="btn btn-info">Ajouter un document</a><br/>
<button type="submit" id="enregistrement_renou_new_save" name="enregistrement_renou_new[save]" class="btn-success btn">Enregistrer</button>
{{ form_end(form) }}
</div>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
{# Voici le script en question : #}
<script type="text/javascript">
  $(document).ready(function() {
    // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
    var $container = $('div#enregistrement_renou_new_documents');

    // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
    var index = $container.find(':input').length;

    // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
    $('#add_pooldocformation').click(function(e) {
      addPooldocformation($container,1);

      e.preventDefault(); // évite qu'un # apparaisse dans l'URL
      return false;
    });

    // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).
    if (index == 0) {
      addPooldocformation($container,0);
    } else {
      // S'il existe déjà des catégories, on ajoute un lien de suppression pour chacune d'entre elles
      $q=0;
      $container.children('div').each(function() {
        $q++;
        if($q>1){addDeleteLink($(this));}

      });
    }

    // La fonction qui ajoute un formulaire CategoryType
    function addPooldocformation($container, $oper) {
      // Dans le contenu de l'attribut « data-prototype », on remplace :
      // - le texte "__name__label__" qu'il contient par le label du champ
      // - le texte "__name__" qu'il contient par le numéro du champ
      var template = $container.attr('data-prototype')
        .replace(/__name__label__/g, '')
        .replace(/__name__/g,        index)
      ;

      // On crée un objet jquery qui contient ce template
      var $prototype = $(template);

      // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
      //if($oper == 1){addDeleteLink($prototype);}


      // On ajoute le prototype modifié à la fin de la balise <div>
      $container.append($prototype);

      // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
      index++;
    }

    // La fonction qui ajoute un lien de suppression d'une catégorie
    function addDeleteLink($prototype) {
      // Création du lien
      var $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a><br/><br style="clear:both;"/>');

      // Ajout du lien
      //$prototype.append($deleteLink);

      // Ajout du listener sur le clic du lien pour effectivement supprimer la catégorie
      $deleteLink.click(function(e) {


        $prototype.remove();
        e.preventDefault(); // évite qu'un # apparaisse dans l'URL
        return false;
      });
    }
  });
$( "#form_enreg" ).submit(function( event ) {
  $(this).find(":submit").prop("disabled", true);

  //event.preventDefault();
});
//$("#enregistrement_renou_new_save").parents('div').css("width", "600px");
</script>
{% endblock %}
