{% extends '//front.html.twig' %}

{% block body %}
<style>#enregistrement_save {float: right;}</style>
<div class="fenetre-centered">
{% for label, messages in app.session.flashbag.all %}
   <div class="alert alert-notice">
         {% for message in messages %}
		 {% if message != '' %}
		  <div class="alert alert-{{ label }}">{{message}}</div>
		   {% endif %}
        {% endfor %}

    </div>
{% endfor %}
    <h1>{{ titre }}</h1>
	Indiquez le nombre de relèves et infructeux depuis votre dernier enregistrement (rapport journalier). <strong>Si clôture, sélectionnez 'oui'.</strong><br/>
  <span style="color:red;">En cas de relève piéton inférieure à 70 compteurs/jour, vous devez obligatoirement justifier en commentaire.</span>
  <br/><br/>
	 <div id="formulaire">
		{{ form_start(form, {'attr': {'id': 'form_enreg'}}) }}
			{{ form_widget(form) }}
		{{ form_end(form) }}
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    <a href="#" id="add_documentation" data-prototype-add="div#appbundle_product_documentations" class="btn btn-default btn-collection-add">
        <span class="glyphicon glyphicon-plus"></span> Ajouter un document
    </a>
    {{ form_row(form.documentations) }}
    <input type="submit" value="Create" />
{{ form_end(form) }}

		<br/>
	</div>
<br/>
<br/>
<script>
$( document ).ready(function() {

$('#enregistrement_save').before( '<a href="javascript:return false;" onClick="loadimage()" class="btn btn-info" id="btnplus">Ajouter une capture</a>&nbsp;&nbsp;' );
$('#enregistrement_imageFile2_file').parent('div').parent('div').hide();
$('#enregistrement_imageFile3_file').parent('div').parent('div').hide();
$('#enregistrement_imageFile4_file').parent('div').parent('div').hide();
$('#enregistrement_imageFile5_file').parent('div').parent('div').hide();
$('#enregistrement_imageFile6_file').parent('div').parent('div').hide();
$('#enregistrement_imageFile7_file').parent('div').parent('div').hide();
$('#enregistrement_imageFile8_file').parent('div').parent('div').hide();
});
var current=1;
function loadimage() {
current++;
if(current<9){
var image='#enregistrement_imageFile'+current+'_file';
$(image).parent('div').parent('div').show();
}
if(current==8){$('#btnplus').hide();}
}
$( "#form_enreg" ).submit(function( event ) {
  $(this).find(":submit").prop("disabled", true);

  //event.preventDefault();
});
</script>
{% endblock %}
