{% extends '//front.html.twig' %}

{% block body %}
<div class="fenetre-centered">
{% for label, messages in app.session.flashbag.all %}
   <div class="alert alert-notice">
         {% for message in messages %}
		  <div class="alert alert-{{ label }}">{{message}}</div>
        {% endfor %}
    </div>
{% endfor %}
    <h1>{{ titre }}</h1>
	Indiquez le nombre de relèves et infructeux depuis votre dernier enregistrement (rapport journalier). Si clôture, sélectionnez 'oui'.
	 <!--<div id="formulaire">-->
   <div class="fenetre-centered">
		{{ form_start(form, {'attr': {'id': 'form_enreg'}}) }}
			{{ form_widget(form) }}
		{{ form_end(form) }}
	</div>
<br/>
<br/>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
{# Voici le script en question : #}
<script type="text/javascript">
  $(document).ready(function() {

    //array des prototypes
    var array_prototype = new Array();
      // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
    var $container2 = $('div#enregistrement_ncompteurs');

    // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
    var index2 = $container2.find(':input').length;

    // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).
    var nbcompteur = $('#enregistrement_newcompteur').val();
    //for(q=0;q++;q<nbcompteur){
    //  addPooldocformation2($container2);
    //}
    //addPooldocformation2($container2);
    // La fonction qui ajoute un formulaire CategoryType
    function addPooldocformation2($container2) {
      // Dans le contenu de l'attribut « data-prototype », on remplace :
      // - le texte "__name__label__" qu'il contient par le label du champ
      // - le texte "__name__" qu'il contient par le numéro du champ
      var template2 = $container2.attr('data-prototype')
        .replace(/__name__label__/g, 'Compteur n°' + (index2+1))
        .replace(/__name__/g, index2)
      ;

      // On crée un objet jquery qui contient ce template
      var $prototype2 = $(template2);

      // On ajoute le prototype modifié à la fin de la balise <div>
      $container2.append($prototype2);
      array_prototype[index2] = $prototype2;
      // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
      index2++;

    }


    $('#enregistrement_newcompteur').change(function( event ) {
        nbcompteur = $('#enregistrement_newcompteur').val();

              for(q=index2;q<nbcompteur;q++){
                addPooldocformation2($container2);
              }
              if(nbcompteur < index2){
                  for(q=index2;q>nbcompteur;q--){
                    //alert(index2);
                    array_prototype[index2-1].remove();
                    index2--;

                  }
              }

    });
});

$( "#form_enreg" ).submit(function( event ) {
  $(this).find(":submit").prop("disabled", true);

  //event.preventDefault();
});
</script>
{% endblock %}
