{% extends '//front.html.twig' %}

{% block body %}
<div class="fenetre-centered">
{% for label, messages in app.session.flashbag.all %}
   <div class="alert alert-notice">
         {% for message in messages %}
		  <div class="alert alert-notice">
           {{message}}
		   </div>
        {% endfor %}
    </div>
{% endfor %}
    <h1>{{ titre }}</h1>
<div class="flexcolumn">
	<a href="{{ path('utilisateur_login') }}" class="btnp boutonjour blanc">S'identifier</a>
</div>
<br/>
</div>
{% endblock %}
