{% extends '//front.html.twig' %}

{% block body %}
<div class="fenetre-centered">
    <h1>{{ titre }}</h1>
<br/>
<span style="color:green"><strong>Nouvelle fonctionnalité</strong></span><br/>
Depuis la rubrique Evénements déclarez :<br/>
- Demandes de congés<br/>
- Arrêt maladie<br/>
- Accident du travail<br/>
- Autre absence<br/>
- Accident de voiture<br/>
- Réclamation client<br/>
- Problème matériel<br/>
- Autre demande<br/>
<br/>
Bonne fin de journée<br><br>
<a href="{{ path('acces_sbeae') }}">Cliquer ici pour faire le rapport</a><br/>
</div>
{% endblock %}
