{% extends '//front.html.twig' %}

{% block body %}
<div class="fenetre-centered">
{% for label, messages in app.session.flashbag.all %}
   <div class="alert alert-notice">
         {% for message in messages %}
		  <div class="alert alert-notice">
           {{message}}
		   </div>
        {% endfor %}
    </div>
{% endfor %}
    <h1>{{ titre }}</h1>
<div class="well" id="recherche">
	{{ form(form, {'attr': {'id': 'sbeae_enregistrement'}}) }}
</div>
	<table id="myTable" width="100%" class="table-striped table-bordered">
    <thead>
  <tr class="header">
				<th>Date</th>
				<th>Travail</th>
				<th>Commentaire</th>
  </tr>
  <thead>
        <tbody>
		{% for pointage in pointages %}
            <tr >
        <td>{{ pointage.datecrea | date('Y-m-d  H:i')}}</td>
				<td>{% if pointage.typ == 1 %}Oui{% else%}Non{% endif %}</td>
				<td>{{ pointage.commentaire }}</td>
        </tr>
		 {% endfor %}
        </tbody>
    </table>
	<br/>

<script>
$(document).ready(function() {
    $('[data-rel=popover]').popover({
      html: true,
      trigger: "hover"
    });
	$('#sbeae_enregistrement_page').val(1);
});
function clickering(page){
$('#sbeae_enregistrement_page').val(page);
$('#sbeae_enregistrement').submit();
return false;
}
</script>
<script>
      var args ={
      "columnDefs": [{ "visible": false, "targets": 0 }],
      "order": [[ 0, "desc" ]],
            language: {
            processing:     "Traitement en cours...",
            search:         "Rechercher&nbsp;:",
            lengthMenu:    "Afficher _MENU_ &eacute;l&eacute;ments",
            info:           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
            infoEmpty:      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
            infoFiltered:   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
            infoPostFix:    "",
            loadingRecords: "Chargement en cours...",
            zeroRecords:    "Aucun &eacute;l&eacute;ment &agrave; afficher",
            emptyTable:     "Aucune donnée disponible dans le tableau",
            paginate: {
                first:      "Premier",
                previous:   "<",
                next:       ">",
                last:       "Dernier"
            },
            aria: {
                sortAscending:  ": activer pour trier la colonne par ordre croissant",
                sortDescending: ": activer pour trier la colonne par ordre décroissant"
            }
        }
      };
     var table1 = $('#myTable').DataTable( args );
      </script>
{% endblock %}
