{% extends '//front.html.twig' %}

{% block body %}
<div class="fenetre-centered">
{% for label, messages in app.session.flashbag.all %}
   <div class="alert alert-notice">
         {% for message in messages %}
		  <div class="alert alert-notice">
           {{message}}
		   </div>
        {% endfor %}
    </div>
{% endfor %}
    <h1>{{ titre }}</h1>
<div class="flexcolumn">	
<a href="{{ path('calendrier_sbeae', { 'chantier': chantier.id,'cloture': 0 }) }}" class="btnp boutonjour blanc">Rapport journalier</a>
<a href="{{ path('calendrier_sbeae', { 'chantier': chantier.id,'cloture': 1 }) }}" class="btnp boutonjour blanc">Rapport journalier (Clôture)</a>
</div>
<br/>
<br/>
{% endblock %}
