{% extends '//front.html.twig' %}

{% block body %}
<div class="fenetre-centered">
{% for label, messages in app.session.flashbag.all %}
   <div class="alert alert-notice">
         {% for message in messages %}
		  <div class="alert alert-notice">
           {{message}}
		   </div>
        {% endfor %}
    </div>
{% endfor %}
{% if pointage == 1 %}
<h1>Pointage</h1>
<div>
{% if messageform == '' %}
  {{ form_errors(form) }}
    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
{% else %}
  {{ messageform }}
{% endif %}
</div>
{% endif %}
<br/><br/>
<h1>Enregistrement</h1>
<div class="flexcolumn">
  {% if enregs is defined %}
		{% for enreg in enregs %}
                    <a href="{{ path('cloture_sbeae', { 'id': enreg.chantier.id }) }}" class="btnp boutonjour blanc">{{ enreg.chantier.typechantier.nom }} {{ enreg.chantier.nom }}</a>
		 {% endfor %}
  {% endif %}
</div>
<br/>
<br/>
{% endblock %}
