{% extends '//front.html.twig' %}

{% block body %}
<div class="fenetre-centered">
{% for label, messages in app.session.flashbag.all %}
   <div class="alert alert-notice">
         {% for message in messages %}
		  <div class="alert alert-notice">
           {{message}}
		   </div>
        {% endfor %}
    </div>
{% endfor %}
    <h1>{{ titre }}</h1>
	<div class="flexcolumn">

	{% set key = -1 %}
		{% for date in dates %}

					{% set key = key + 1 %}
					{% if  dateenregs[date] is defined and dateenregs[date] ==1  %}
						{% set class = 'btn-success' %}
					{% else %}
						{% set class = 'btn-danger' %}
					{% endif %}
					{% if  date > date0 %}
						{% set class = 'btn-default' %}
					{% endif %}

					{% if  date <= date0 %}
					<a href="{{ path('formulaire_sbeae', { chantier: chantier.id, cloture: cloture, date: date }) }}" class="btn {{ class }} boutonjour blanc">{{ jours[key] }} {{ date| date('d-m-Y') }}</a>
					{% else %}
					<p class="btn {{ class }} boutonjour">{{ jours[key] }} {{ date | date('d-m-Y') }}</p>
					{% endif %}
		 {% endfor %}
	</div>
<br/>
<br/>
{% if alertheure == 1 %}
  <script>alert('En fin de journée travaillée, pour des raisons de sécurité, veuillez faire vos enregistrements avant 20h.\nMerci.\nLa Direction\nEAE');</script>
{% endif %}
{% endblock %}
