{% extends '//front.html.twig' %}

{% block body %}
<div class="fenetre-centered">
    <h1>{{ titre }}</h1>
<br/>
<h3>VEOLIA</h3><
<iframe width="560" height="315" src="https://www.youtube.com/embed/TI_u6ZGyO5E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br/>
<h3>SUEZ</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/axDtXaINAww" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br><br>
<a href="{{ path('acces_sbeae') }}">Cliquer ici pour faire le rapport</a><br/>
</div>
{% endblock %}
