  body {background-color: #ffffff !important;}
#logo {height: 70px !important;}
.container-anychart    {
  width: 100%;
  height: 400px;
  margin: 0;
  padding: 0;
}
.container2 {width: 100%;padding: 0 20px 20px 20px;}
#myInput {
  background-image: url('/images/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myTable {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 14px; /* Increase font-size */
}

#myTable th, #myTable td {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
}

#myTable tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #f1f1f1;
}

  .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: green;
}
input:checked + .slider2 {
  background-color: blue !important;
}

input:checked + .slider3 {
  background-color: red !important;
}

input:checked + .slider4 {
  background-color: orange !important;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


	 	#formulaire {
			margin: 0 auto;
        }

		#formulaire div.form-group {
			float: left;margin: 0;width: 100%;clear:both;
        }
		#formulaire label.control-label  {
			display: inline-block;width: 200px !important;height:40px;float:left;padding-left: 10px;display: flex; flex-direction: row;align-items: center;
		 }
		#formulaire textarea {
			margin-bottom: 10px;
        }
		div.sr-only {
			width: 550px;
        }
		select.form-control, input.form-control,  select.form-control, input.form-control  {
            margin-bottom: 10px;
            padding: 10px 10px;
            border: 1px solid #2fa2db;
            border-radius: 0px;
            background-color: #ffffff !important;
            color: #2fa2db !important;
            font-weight: 700;
			float:left;
			height:40px;
        }
        select.form-control:hover,  select.form-control:hover {
            border: 1px solid #2fa2db;
        }
		select option:checked {
        color: red !important;
    }

		.dateur {
			width: 360px !important;
		}
		input.form-control:-webkit-autofill  {
			-webkit-box-shadow: 0 0 0px 1000px white inset;
			-webkit-text-fill-color: #2fa2db;
		}
		input.form-control::placeholder {
			color: #2fa2db;
		}
				/* - Internet Explorer 10–11
		   - Internet Explorer Mobile 10-11 */
		input.form-control:-ms-input-placeholder {
		color: #2fa2db;
		}

		/* Edge (also supports ::-webkit-input-placeholder) */
		input.form-control::-ms-input-placeholder {
		color: #2fa2db;
		}

		input {
			color: #2fa2db !important;
		}
		.btnp {
            display: block;
            background-color: #2fa2db;
            color: #FFFFFF !important;
            padding: 7px 10px;
            text-transform: uppercase;
            font-weight: bold;
            border: none;
            border-radius: 0px !important;
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
            font-family: Helvetica;
            font-size: 18px;
            font-weight: 100;
			margin: 2px 10px;float: left;
        }
        .btnp a {
            color: #fff;
            text-decoration: none;
        }
        a.btnp {
            color: #fff;
            text-decoration: none;
			display: inline-block;
        }
		.flexcolumn {
			display: flex;
			flex-direction: column;
		}
		.boutonjour {
			width: 200px;
			margin-bottom: 10px;
			text-align: center;
		}
		.blanc {
			color: #fff;
		}
		a.blanc {
			color: #fff;
		}
		.fenetre-centered {padding: 20px;}
		h1 {color: #2fa2db; font-size: 26px;}

		.dateur {
			width: 300px !important;height: 45px;display : block;
		}
		div.sr-only {

        }
		.fenetre-centered2 {padding: 20px;margin:0 auto;width:100%;}
		#donnees {width:440px;display: block;float:left;margin-left:310px;min-height: 800px;}
		#capture {width:280px !important;display: block;float:left;position:fixed; top:80px;}
.left_menu {width:200px;}
.left_menu2 {width:320px;}
.cells {width:180px;}
.cell {width:40px;display: block; float: left;}
