{% extends '//'~repo~'.html.twig' %}

{% block body %}
<div class="fenetre-centered">
    <h1>Liste des utilisateurs</h1>
    <br/>
	<div class="well" id="recherche">
	{{ form(form, {'attr': {'id': 'sbeae'}}) }}
	</div>
	<p><div id="suivi">{{ message }}</div></p>
 <a href="{{ path(repo~'_users_add') }}" class="btn btn-info">Ajouter un opérateur</a><br/>
    <table class="table">
        <thead>
            <tr>
				<th>Actif</th>
				<th>Zone</th>
				<td>Pseudo</td>
                <th>Nom</th>
                <td>Zone</td>
                <th>Mobile</th>
				<th>Email</th>
                <th>Ville</th>
				<td>Rôle</td>
				<th>SMS</th>
                <th colspan="2">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>

					 <td>
						{% if user.enabled ==1 %}
							<label class="switch">
							  <input type="checkbox" class="selecter" value="{{ user.id }}" checked>
							  <span class="slider round"></span>
							</label>
						{% else %}
							<label class="switch">
							  <input type="checkbox" class="selecter" value="{{ user.id }}">
							  <span class="slider round"></span>
							</label>
						{% endif %}
				</td>
				<td>{{ user.zone.nom }}</td>
					<td>{{ user.username }}</td>
                    <td>{{ user.nom }} {{ user.prenom }}</td>
                    <td>{{ user.zone.abrev }}</td>
					<td>{{ user.mobile }}</td>
                    <td>{{ user.email }}</td>
					<td>{{ user.ville }}</td>
					<td>
            {% if 'ROLE_ADMIN' in user.getRoles() %}
							Chargé d'affaire
						{% elseif 'ROLE_FRONT' in user.getRoles() %}
							Relève
						{% elseif 'ROLE_RENOU' in user.getRoles() %}
							Renou
						{% elseif 'ROLE_HEBLI' in user.getRoles() %}
							Hebline
						{% elseif 'ROLE_ADLUC' in user.getRoles() %}
							Jean-Luc
						{% else %}
							Anonyme
						{% endif %}</td>
					<td>
					{% if user.mobile is defined %}
					{% if user.mobile !='' %}
					<a href="{{ path(repo~'_users_sms', { 'id': user.id, 'page': page }) }}"><span style="font-size: 2em; color: #4ab9da;"><i class="fas fa-sms"></i></span></a>
					{% endif %}	{% endif %}
					</td>
                    <td><a href="{{ path(repo~'_users_detail', { 'id': user.id }) }}" class="btn btn-info">Détail</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
	<a href="{{ path(repo~'_users_add') }}" class="btn btn-info">Ajouter un opérateur</a><br/>
	<br/>
{% if nbPages > 1 %}
<ul class="pagination">
  {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
  {% for p in range(1, nbPages) %}
    <li class="page-item {% if p == page %}active{% endif %}">
			<a href="#" onclick="javascript:clickering({{p}});" class="page-link">{{ p }}</a>
    </li>
  {% endfor %}
</ul>
{% endif %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(function() {
$('#sbeae_user_page').val(1);
});
function clickering(page){
$('#sbeae_user_page').val(page);
$('#sbeae').submit();
return false;
}


$(".selecter").click(function() {
	id=$(this).attr("value");
	if ($(this).is(':checked')){action=1;}else{action=0;}
	memoire(action, id);
});

function memoire(action, id){
$.ajax({
  method: "GET",
  url: "{{ app.request.getBaseURL() }}/{{ repo }}/users/active/"+id+"/"+action+"/"
})
  .done(function( msg ) {
	if(msg == 1){
	$('#suivi').html('Modification enregistrée : '+id);
	}
	else{
    alert( "PB: " + msg );
	}
  });


return false;
}
</script>

</script>
<br/>
{% endblock %}
