{% extends '//admin.html.twig' %}

{% block body %}
<div class="fenetre-centered">
    <h1>Liste des Stagiaires</h1><br/>
	<div class="well" id="recherche">
	{{ form(form, {'attr': {'id': 'leo_commercebundle'}}) }}
	</div>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Email</th>
                <th>Ville</th>
				<th>Commande(s)</th>
                <th colspan="2">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.nom }} {{ user.prenom }}</td>
                    <td>{{ user.email }}</td>
					<td>{{ user.ville }}</td>
					<td>
					{% for commande in user.commandes %}
					<a href="{{ path('leo_commerce_admin_detail_commande', { 'id': commande.id }) }}">{{ commande.id }}</a>&nbsp;
					{% endfor %}
					</td>
                    <td><a href="{{ path('leo_commerce_admin_user_detail', { 'id': user.id }) }}" class="btn btn2">Détail</a></td>
					<td><a href="{{ path('leo_commerce_admin_user_commande', { 'id': user.id }) }}" class="btn btn2">Commander</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
	<a href="{{ path('leo_commerce_admin_user_add') }}" class="btn">Ajouter un stagiaire</a><br/>
	<br/>
{% if nbPages > 1 %} 
<ul class="pagination">
  {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
  {% for p in range(1, nbPages) %}
    <li{% if p == page %} class="active"{% endif %}>
			<a href="#" onclick="javascript:clickering({{p}});">{{ p }}</a>
    </li>
  {% endfor %}
</ul>
{% endif %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(function() {
$('#leo_commercebundle_user_page').val(1);
});
function clickering(page){
$('#leo_commercebundle_user_page').val(page);
$('#leo_commercebundle').submit();
return false;
}
</script>
<br/>
{% endblock %}