<!DOCTYPE html>
<html>
<body>
<table width="264">
        <tbody>
			<tr>
                <td>
                {% for document in enreg.documents %}
                      {% if document.filename != '' %}
                      <a href="/uploads/documents/{{ document.filename }}" target="_blank"><img src='/uploads/documents/{{ document.filename }}'  width="260"></a>
                      {% endif %}
                {% endfor %}
				</td>
            </tr>
		</tbody>
    </table>
	<br/>
	<br/>
</body>
</html>
