{% extends '//'~repo~'.html.twig' %}

{% block body %}
  <style>
.custom-file-label { opacity: 0 !important; }
.custom-file-input { opacity: 1 !important; }
  </style>
{% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} alert-dismissible fade show">
                {{ message }}
            </div>
        {% endfor %}
      {% endfor %}
<div class="fenetre-centered2">
  {% if enreg.id != null %}
	<div id="capture" >
		<iframe src="{{ path(repo~'_enregistrements_capture', { 'id': enreg.id }) }}" width="300" height="800"></iframe>
	</div>
{% endif %}
	<div id="donnees">
    <h1>Enregistrement {% if enreg.id != null %}{{ enreg.id }}{% endif %}</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
	<br/>

 <a href="#" id="add_pooldocformation" class="btn btn-info">Ajouter un document</a><br/><br/>
 <a href="{{ path(repo~'_enregistrements_renou') }}" class="btn btn-info">Retour à la liste</a>
</div>

</div>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
{# Voici le script en question : #}
<script type="text/javascript">
  $(document).ready(function() {
    // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
    var $container = $('div#enregistrement_renou_edit_documents');

    // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
    var index = $container.find(':input').length;

    // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
    $('#add_pooldocformation').click(function(e) {
      addPooldocformation($container,1);

      e.preventDefault(); // évite qu'un # apparaisse dans l'URL
      return false;
    });

    // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).
    if (index == 0) {
      addPooldocformation($container,0);
    } else {
      // S'il existe déjà des catégories, on ajoute un lien de suppression pour chacune d'entre elles
      $q=0;
      $container.children('div').each(function() {
        $q++;
        if($q>1){addDeleteLink($(this));}

      });
    }

    // La fonction qui ajoute un formulaire CategoryType
    function addPooldocformation($container, $oper) {
      // Dans le contenu de l'attribut « data-prototype », on remplace :
      // - le texte "__name__label__" qu'il contient par le label du champ
      // - le texte "__name__" qu'il contient par le numéro du champ
      var template = $container.attr('data-prototype')
        .replace(/__name__label__/g, '')
        .replace(/__name__/g,        index)
      ;

      // On crée un objet jquery qui contient ce template
      var $prototype = $(template);

      // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
      //if($oper == 1){addDeleteLink($prototype);}


      // On ajoute le prototype modifié à la fin de la balise <div>
      $container.append($prototype);

      // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
      index++;
    }

    // La fonction qui ajoute un lien de suppression d'une catégorie
    function addDeleteLink($prototype) {
      // Création du lien
      var $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a><br/><br style="clear:both;"/>');

      // Ajout du lien
      //$prototype.append($deleteLink);

      // Ajout du listener sur le clic du lien pour effectivement supprimer la catégorie
      $deleteLink.click(function(e) {


        $prototype.remove();
        e.preventDefault(); // évite qu'un # apparaisse dans l'URL
        return false;
      });
    }
  });
$( "#form_enreg" ).submit(function( event ) {
  $(this).find(":submit").prop("disabled", true);

  //event.preventDefault();
});
</script>

{% endblock %}
