{% extends '//'~repo~'.html.twig' %}

{% block body %}
  <style>.popover {width:350px !important;}</style>
<div class="fenetre-centered">
{% for label, messages in app.session.flashbag.all %}
   <div class="alert alert-notice">
         {% for message in messages %}
		  <div class="alert alert-notice">
           {{message}}
		   </div>
        {% endfor %}
    </div>
{% endfor %}
    <h1>Prestations</h1>
      <a href="#recherche" class="btn btn-info" data-toggle="collapse">Rechercher</a>
<div class="well collapse" id="recherche">
	{{ form(form, {'attr': {'id': 'sbeae_enregistrement'}}) }}
</div>
	<table id="myTable" class="table-striped table-bordered">
  <tr class="header">
				<th width="60">Id</th>
				<th width="60">Date Ren.</th>
				<th width="60">Date Enreg.</th>
				<th>Zone</th>
				<th>Chantier</th>
        <th>Titre</th>
				<th>Utilisateur</th>
        <!--
        <th>Compt.A.</th>
				<th>Compt.I.</th>
        <th>CC+M</th>
				<th>Mod.A.</th>
        <th>Mod.I.</th>
        <th>Mat.</th>-->
        <th>Compt</th>
        <th>Compt<br>Coax Mod</th>
        <th>Module</th>
        <th>Anten</th>
        <th>Maint.</th>
        <th>Compl.</th>
        <th>Total CA</th>
        <th>Détail</th>
				<th style="width:200px !important;">Comm.</th>
				<th>Capt.</th>
				<th>Contrôle</th>
				<th>Défaut</th>
  			<th>Actions</th>
    </tr>
        <tbody>
		{% for enreg in enregs %}
        {% if enreg.valide == 0 %}
              <tr class="invalide">
        {% else %}
              <tr>
        {% endif %}
				<td>{{ enreg.id}}</td>
				<td>{{ enreg.datereleve | date('d-m')}}</td>
				<td>{{ enreg.datecrea | date('d-m  H:i')}}</td>
				<td>{{ enreg.zone.abrev }}</td>
				<td>{{ enreg.chantier.nom }}</td>
        <td>{{ enreg.titre}}</td>
                <td><strong><a href="{{ path(repo~'_enregistrements_renou2', { 'id': enreg.user.id }) }}" class="">{{ enreg.user.nom }} {{ enreg.user.prenom }}</a></strong><br/><a href="{{ path(repo~'_sms', { 'id': enreg.user.id }) }}" class=""><i class="fas fa-sms"></i></a>&nbsp;<a href="sms://{{ enreg.user.mobile }}">{{ enreg.user.mobile }}</a></td>
				<td>{% if totaux[enreg.id][1]  is defined  %}{{ totaux[enreg.id][1] }} {% else %} 0 {% endif %}</td>
				<td>{% if totaux[enreg.id][2]  is defined  %}{{ totaux[enreg.id][2] }} {% else %} 0 {% endif %}</td>
        <td>{% if totaux[enreg.id][3]  is defined  %}{{ totaux[enreg.id][3] }} {% else %} 0 {% endif %}</td>
        <td>{% if totaux[enreg.id][4]  is defined  %}{{ totaux[enreg.id][4] }} {% else %} 0 {% endif %}</td>
        <td>{% if totaux[enreg.id][5]  is defined  %}{{ totaux[enreg.id][5] }} {% else %} 0 {% endif %}</td>
        <td>{% if totaux[enreg.id][6]  is defined  %}{{ totaux[enreg.id][6] }} {% else %} 0 {% endif %}</td>
        <td>{% if totaux[enreg.id][0]  is defined  %}{{ totaux[enreg.id][0] }} {% else %} 0 {% endif %}</td>
        <td><button type="button"  class="btn btn-infos" data-rel="popover" title="Détail" data-content=" {% for enregistrementchantiermateriel in enreg.enregistrementchantiermateriels %}
            {{enregistrementchantiermateriel.chantiermateriel.materiel.nom}} : {{enregistrementchantiermateriel.nombre}}<br/>
          {% endfor %}">Détail</button>

        </td>
        <td>{{ enreg.commentaire | raw }}</td>
				<td>
                {% for document in enreg.documents %}
                      {% if document.filename != '' %}
                      <a href="#"><i class="fas fa-image fa-2x" style="margin:5px;" data-rel="popover" title="<strong>Capture</strong>" data-placement="left" data-offset="300" data-content="<img src='/uploads/documents/{{ document.filename }}'  width=300>"></i></a>
                      {% endif %}
                {% endfor %}
				</td>
				<td>
						{% if enreg.controle == 1 %}
							<label class="switch">
							  <input type="checkbox" class="selecter" value="{{ enreg.id }}" checked>
							  <span class="slider round"></span>
							</label>
						{% else %}
							<label class="switch">
							  <input type="checkbox" class="selecter" value="{{ enreg.id }}">
							  <span class="slider round"></span>
							</label>
						{% endif %}
				</td>
				<td>
						{% if enreg.defaut == 1 %}
							<label class="switch">
							  <input type="checkbox" class="selecter2" value="{{ enreg.id }}" checked>
							  <span class="slider round slider3"></span>
							</label>
						{% else %}
							<label class="switch">
							  <input type="checkbox" class="selecter2" value="{{ enreg.id }}">
							  <span class="slider round slider3"></span>
							</label>
						{% endif %}
				</td>
        <td>
                    <a href="{{ path(repo~'_enregistrements_renou_edit', { 'id': enreg.id }) }}" class="btn btn-info">Modifier</a>
				</td>
            </tr>
		 {% endfor %}
        </tbody>
    </table>
	{% if nbPages > 1 %}
<ul class="pagination">
  {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
  {% for p in range(1, nbPages) %}
    <li class="page-item {% if p == page %}active{% endif %}">
			<a href="#" onclick="javascript:clickering({{p}});" class="page-link">{{ p }}</a>
    </li>
  {% endfor %}
</ul>
{% endif %}
	<br/>
	<a href="{{ path(repo~'_enregistrements_renou_add') }}" class="btn  btn-info">Ajouter un enregistrement</a>
<br/>
<script>

$(document).ready(function() {
    $('[data-rel=popover]').popover({
      html: true,
      trigger: "hover"
    });
	$('#sbeae_enregistrement_page').val(1);
});
function clickering(page){
$('#sbeae_enregistrement_page').val(page);
$('#sbeae_enregistrement').submit();
return false;
}

$(".selecter").click(function() {
	id=$(this).attr("value");
	if ($(this).is(':checked')){action=1;}else{action=0;}
	memoire(action, id);
});

$(".selecter2").click(function() {
  id=$(this).attr("value");
  if ($(this).is(':checked')){action=3;}else{action=2;}
  memoire(action, id);
});

$(".selecter3").click(function() {
  id=$(this).attr("value");
  if ($(this).is(':checked')){action=5;}else{action=4;}
  memoire(action, id);
});

function memoire(action, id){
$.ajax({
  method: "GET",
  url: "/{{repo}}/enregistrement/controle/"+id+"/"+action+"/"
})
  .done(function( msg ) {
	if(msg == 1){
	$('#suivi').html('Modification enregistrée : '+id);
	}
	else{
    alert( "PB: " + msg );
	}
  });

return false;
}

</script>
{% endblock %}
