{% extends '//admin2.html.twig' %}

{% block body %}
<div class="fenetre-centered">
    <h1>Paramétrage</h1>
    <table width="800">
        <tbody>
		    <tr>
                <th>Nom: </th>
                <td>{{ enreg.nom }}</td>
            </tr>
        </tbody>
    </table>
	<a href="{{ path('admin_clients') }}" class="btn">Retour à la liste</a><a href="{{ path('admin_clients_edit', { 'id': enreg.id }) }}" class="btn">Modifier</a><br/>
</div>
{% endblock %}
