{% extends '//superadmin.html.twig' %}

{% block body %}
<div class="fenetre-centered">
{% for label, messages in app.session.flashbag.all %}
   <div class="alert alert-notice">
         {% for message in messages %}
		  <div class="alert alert-notice">
           {{message}}
		   </div>
        {% endfor %}
    </div>
{% endfor %}
    <h1>{{ titre }}</h1>
	<script src="https://code.jquery.com/jquery-1.11.3.js"></script>
    <script src="https://cdn.anychart.com/releases/8.6.0/js/anychart-base.min.js" type="text/javascript"></script>
	<script src="https://cdn.anychart.com/releases/8.6.0/js/anychart-data-adapter.min.js" type="text/javascript"></script>
	{% set q = 0 %}  
	<script>
	{% for site in chantiers %}
		anychart.onDocumentReady(function () {
		anychart.data.loadJsonFile("/superadmin/etat_activite/{{site.id}}/", function (data) {
		var chart = anychart.fromJson(data);

			chart.barsPadding(-1);
			chart.barGroupsPadding(1);
		   chart.getSeriesAt(1).pointWidth(10);
		   chart.getSeriesAt(0).pointWidth(10);
		   chart.getSeriesAt(3).pointWidth(10);
		   chart.getSeriesAt(2).pointWidth(10);
		chart.getSeriesAt(4).pointWidth(10);
		chart.title().text("{{site.nom}}");
		chart.container("container{{q}}");
		chart.draw();
    });});
	{% set q = q+1 %}
	{% endfor %}
    </script>
	{% set q = 0 %}
	{% for site in chantiers %}
    <div id="container{{q}}" style="height:240px; width:100%;"></div>
		{% set q = q+1 %}
	{% endfor %}
</div>
{% endblock %}

