{% extends '//hebline.html.twig' %}

{% block body %}
<div class="fenetre-centered">
{% for label, messages in app.session.flashbag.all %}
   <div class="alert alert-notice">
         {% for message in messages %}
		  <div class="alert alert-notice">
           {{message}}
		   </div>
        {% endfor %}
    </div>
{% endfor %}
    <h1>{{ titre }}</h1>
<div class="well" id="recherche">
	{{ form(form, {'attr': {'id': 'sbeae_log'}}) }}
</div>

<table id="myTable" width="100%" class="table">
  <tr class="header">
				<th>Id</th>
				<th>Date</th>
				<th>Role</th>
				<th>Utilisateur</th>
  </tr>
        <tbody>				
		{% for enreg in enregs %}
            <tr valign="top">
				<td>{{ enreg.id}}</td>
				<td>{{ enreg.datecrea | date('d-m-Y H:i')}}</td>
				<td>{{ enreg.titre }}</td>
				<td>{{ enreg.user.prenom }} {{ enreg.user.nom }}</td>
            </tr>
		 {% endfor %}
    </table>
	<!--<button id="excel" class="btn btn-infos"><img src="/images/excel.png" width="40">&nbsp;&nbsp;Export Excel</button>-->
{% if nbPages > 1 %} 
<ul class="pagination">
  {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
  {% for p in range(1, nbPages) %}
    <li{% if p == page %} class="active"{% endif %}>
			<a href="#" onclick="javascript:clickering({{p}});">{{ p }}</a>
    </li>
  {% endfor %}
</ul>
{% endif %}	
<br/>
<script>
function clickering(page){
$('#sbeae_log_page').val(page);
$('#sbeae_log').submit();
return false;
}
$(document).ready(function() {    
	$('#sbeae_log_page').val(1);
    $('[data-rel=popover]').popover({
      html: true,
      trigger: "hover"
    });
	$('#sbeae_enregistrement_excel').val(0);
	$('#excel').click(function() {
		$('#sbeae_enregistrement_excel').val(1);
		$('#sbeae_cloture').submit();
		$('#sbeae_enregistrement_excel').val(0);
	});
});
</script>	
{% endblock %}
