{% extends '//hebline.html.twig' %}

{% block body %}
  <style>.popover {width:350px !important;}</style>
<div class="fenetre-centered">
{% for label, messages in app.session.flashbag.all %}
   <div class="alert alert-notice">
         {% for message in messages %}
		  <div class="alert alert-notice">
           {{message}}
		   </div>
        {% endfor %}
    </div>
{% endfor %}
    <h1>test</h1>

{% endblock %}
