{% extends '//client2.html.twig' %}

{% block body %}
  <div style="padding:20px !important;">
<div class="fenetre-centered">
{% for label, messages in app.session.flashbag.all %}
   <div class="alert alert-notice">
         {% for message in messages %}
		  <div class="alert alert-notice">
           {{message}}
		   </div>
        {% endfor %}
    </div>
{% endfor %}

    <h1>{{ titre }}</h1>
	<script src="https://code.jquery.com/jquery-1.11.3.js"></script>
    <script src="https://cdn.anychart.com/releases/8.6.0/js/anychart-base.min.js" type="text/javascript"></script>
	<script src="https://cdn.anychart.com/releases/8.6.0/js/anychart-data-adapter.min.js" type="text/javascript"></script>
	{% set q = 0 %}
	<script>
	{% for site in chantiers %}
		anychart.onDocumentReady(function () {
		anychart.data.loadJsonFile("/client/etat_activite/{{site.id}}/", function (data) {
		var chart = anychart.fromJson(data);
    var credits = chart.credits();
    credits.text("EAE");
anychart.licenseKey("releve-eae.com-da83ba5b-f69bafc2");

			chart.barsPadding(-1);
			chart.barGroupsPadding(1);
		   chart.getSeriesAt(1).pointWidth(15);
		   chart.getSeriesAt(0).pointWidth(15);
		   chart.getSeriesAt(3).pointWidth(15);
		   chart.getSeriesAt(2).pointWidth(15);

		chart.title().text("{{site.nom}}");
		chart.container("container{{q}}");
		chart.draw();

    });});
	{% set q = q+1 %}
	{% endfor %}
    </script>
	{% set q = 0 %}
	{% for site in chantiers %}
    <div id="container{{q}}" style="height:200px; width:100%;"></div>
		{% set q = q+1 %}
	{% endfor %}
</div>
</div>
{% endblock %}

