{% extends '//'~repo~'.html.twig' %}

{% block body %}
<style>

.edit-images {width:20px; height: 20px;}
#commentaire {width: 300px;}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-body {padding: 2px 16px;}


.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 400px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.modal-body {padding: 20px 40px;}


</style>
<div class="fenetre-centered">
    <h1>Utilisateurs {{ chantier.nom }}</h1>
	Du {{ chantier.datedebut|date('d-m-Y') }} au {{ chantier.datefin|date('d-m-Y') }}
<p>&nbsp;</p>
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Rechercher par nom">
<p><div id="suivi"></div></p>
<table id="myTable" width="800">
  <tr class="header">
	<th style="width: 150px" onclick="sortTable(0)">Sélection</th>
	<th style="width: 150px" onclick="sortTable(1)">Panier</th>
    <th onclick="sortTable(2)">Nom</th>
    <th onclick="sortTable(2)">Zone</th>
    <th onclick="sortTable(4)">Ville</th>
	<th>Commentaire</th>
	<th></th>
  </tr>
  <tbody>
  		{% for user in listusers %}
		    <tr>
                <td id='sel'>
				{% if listusersOK[user.id] is defined %}
					<label class="switch">
					  <input type="checkbox" class="selecter" value="{{ user.id }}" checked>
					  <span class="slider round"></span>
					</label>
				{% else %}
					<label class="switch">
					  <input type="checkbox" class="selecter" value="{{ user.id }}">
					  <span class="slider round"></span>
					</label>
				{% endif %}
				</td>
                <td id="panier">
				{% if listusersPanierOK[user.id] is defined and listusersPanierOK[user.id] == 1 %}
				<label class="switch">
					  <input type="checkbox" checked class="panier" value="{{ user.id }}">
					  <span class="slider slider2 round"></span>
				</label>
				{% else %}
				<label class="switch">
					  <input type="checkbox" class="panier" value="{{ user.id }}">
					  <span class="slider slider2 round"></span>
				</label>
				{% endif %}
				</td>
				<td>{{ user.nom }} {{ user.prenom }}</td>
        <td>{{ user.zone.abrev }}</td>
                <td>{{ user.ville }}</td>
				<td class="commentaire">
				<div class="comm" id="ert">
				{% if listusersCommentaire[user.id] is defined %}
					{{ listusersCommentaire[user.id] }}
				{% endif %}
				</div>
				</td>
				<td class="edition" id="ed">
				{% if listusersOK[user.id] is defined %}
					<button class="bouton edit" id="{{ user.id }}"><img src="/images/edit.png" border="0"></button >
				{% else %}
					<button class="bouton edit" style="display:none;" id="{{ user.id }}"><img src="/images/edit.png" border="0" class="edit-images"></button >
				{% endif %}
				</td>
            </tr>
		{% endfor %}
  </tbody>
</table>
	<a href="{{ path(repo~'_chantiers') }}" class="btn btn-info">Retour aux sites</a>

<!-- The Modal -->
<div id="myModal" class="modal">

  <div class="modal-content">
  <div class="modal-header">
    <span class="close">&times;</span>
    <h2>Commentaire</h2>
  </div>
  <div class="modal-body">
  <form id="formcomm"  class="form-container">
	<input type="hidden" name="user" id="user" value=""><br/>
    <label for="commentaire"><b>Commentaire</b></label>
    <input type="text" name="commentaire" id="commentaire"></input><br/><br/>
    <button class="btn" id="btn-save">Enregistrer</button><br/><br/>
  </form>
  </div>
</div>
</div>
</div>

<script>
$('#commentaire').on('focus click', function() {
  $(this)[0].setSelectionRange(0, 0);
})

var divcomment;
var modal = document.getElementById("myModal");
var span = document.getElementsByClassName("close")[0];

span.onclick = function() {
  modal.style.display = "none";
}

window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}

$(".bouton").click(function(e) {
e.preventDefault();
	val= $(this).attr('id');
	$('#user').val(val);
	divcomment=$(this).closest('td').prev(".commentaire").find(".comm");
	commentaire = divcomment.html();
	$('#commentaire').val(commentaire);

	modal.style.display = "block";
});


function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("myTable");
  switching = true;
  // Set the sorting direction to ascending:
  dir = "asc";
  /* Make a loop that will continue until
  no switching has been done: */
  while (switching) {
    // Start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /* Loop through all table rows (except the
    first, which contains table headers): */
    for (i = 1; i < (rows.length - 1); i++) {
      // Start by saying there should be no switching:
      shouldSwitch = false;
      /* Get the two elements you want to compare,
      one from current row and one from the next: */
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /* Check if the two rows should switch place,
      based on the direction, asc or desc: */
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /* If a switch has been marked, make the switch
      and mark that a switch has been done: */
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      // Each time a switch is done, increase this count by 1:
      switchcount ++;
    } else {
      /* If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again. */
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}

function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[2];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}

$(".selecter").click(function() {
	id=$(this).attr("value");
	if ($(this).closest("td").next().find(".panier").is(':checked')){panier=1;}else{panier=0;}
	if ($(this).is(':checked')){action='add';$(this).parent().parent().parent().find('.edition').find('button').show();}else{action='remove';$(this).parent().parent().parent().find('.commentaire').find('.comm').empty();$(this).parent().parent().parent().find('.edition').find('button').hide();}
	memoire(action, id, panier);
});
$(".panier").click(function() {
	id=$(this).attr("value");
	if ($(this).closest("td").prev().find(".selecter").is(':checked')){action='add';}else{action='remove';}
	if ($(this).is(':checked')){panier=1;}else{panier=0;}
	memoire(action, id, panier);
});

function memoire(action, id, panier){
	$.ajax({
	  method: "GET",
	  url: "/{{ repo }}/chantiers/user/"+action+"/{{ chantier.id }}/"+id+"/"+panier+"/"
	})
	  .done(function( msg ) {
		if(msg == 1){
		$('#suivi').html('Modification enregistrée : '+id);
		}
		else{
		alert( "PB: " + msg );
		}
	  });


	return false;
}

$("#btn-save").click(function(e) {
	e.preventDefault();
	id=$('#user').val();
	commentaire=$('#commentaire').val();
	$.ajax({
	  method: "GET",
	  url: "{{ app.request.getBaseURL() }}/{{ repo }}/chantiers/commentaire/{{ chantier.id }}/"+id+"/"+commentaire+"/"
	})
	  .done(function( msg ) {
		if(msg == 1){
		$('#suivi').html('Commentaire enregistré : '+id);
		divcomment.html(commentaire);
		modal.style.display = "none";
		}
		else{
		alert( "PB: " + msg );
		}
	  });

	return false;
});

</script>
{% endblock %}
