{% extends '//admin2.html.twig' %}

{% block body %}
<div class="fenetre-centered">
{% for label, messages in app.session.flashbag.all %}
   <div class="alert alert-notice">
         {% for message in messages %}
		  <div class="alert alert-notice">
           {{message}}
		   </div>
        {% endfor %}
    </div>
{% endfor %}
    <h1>{{ titre }}</h1>
<div class="well" id="recherche">
	{{ form(form, {'attr': {'id': 'sbeae_cloture'}}) }}
</div>
<div style="overflow: auto;">
<table border="1"  class="table-striped table-bordered">
		<tr valign="top">
			<td>Opérateurs</td>
			<td>Sites</td>
			{% set start_date = date1 %}
			{% set end_date = date2 %}
			{% for x in range(start_date|date('U'), end_date|date('U'), 86400 ) %}
			   <td>
			   <div class="left_menu">
			   {{ x|date('d/m/Y') }}<br/>
			   <div class="cell">Capt.</div><div class="cell">Rel.</div><div class="cell">Inf</div><div class="cell">Total</div><br/>
			   </div>
			   </td>
			{% endfor %}
				<td>
			   <div class="left_menu">
			   TOTAL SITE<br/>
			   <div class="cell"><strong>Rel.</strong></div><div class="cell"><strong>Inf</strong></div><div class="cell"><strong>Total</strong></div><br/>
			   </div>
			   </td>
		</tr>
		{% for user in users %}
			{% for chantier in chantiers[user.id] %}
			{% if chantier.nom !='' %}
				<tr valign="top">
					<td>{{ user.prenom }} {{ user.nom }}</td>
					<td>
						{{ chantier.nom }}
					</td>
							{% set infructueux = 0 %}
							{% set releve = 0 %}
							{% set total = 0 %}
							{% for x in range(start_date|date('Y-m-d'), end_date|date('Y-m-d'), 86400 ) %}
							{% set totaljour={x:0} %}

							{% endfor %}
				{% for x in range(start_date|date('U'), end_date|date('U'), 86400 ) %}

				   <td>
						{% if donnees[user.id][x|date('Y-m-d')][chantier.id] is defined %}
								{% for enreg in	donnees[user.id][x|date('Y-m-d')][chantier.id] %}

								<div class="cell">
                {% for document in enreg.documents %}
                      {% if document.filename != '' %}
                      <a href="#"><i class="fas fa-image fa-2x" style="margin:5px;" data-rel="popover" title="<strong>Capture</strong>" data-placement="left" data-offset="300" data-content="<img src='/uploads/documents/{{ document.filename }}'  width=300>"></i></a>
                      {% endif %}
                {% endfor %}
								&nbsp;</div>
									{% set infructueux = infructueux  + enreg.infructueux %}
									{% set releve = releve + enreg.releve %}
									{% set total = total + enreg.total %}
								<div class="cell">{{ enreg.releve }}</div><div class="cell">{{ enreg.infructueux }}</div><div class="cell"><strong>{{ enreg.total }}</strong></div><br style="clear: both;">
								{% endfor %}
						{% endif %}&nbsp;
				   </td>
				{% endfor %}
					<td  class="bg-primary">
							   <div class="left_menu">
							   <div class="cell"><strong>{{ releve }}</strong></div><div class="cell"><strong>{{ infructueux }}</strong></div><div class="cell"><strong><u>{{ total }}</u></strong></div><br/>
							   </div>
					</td>
				</tr>
				{% endif %}
			{% endfor %}
		 {% endfor %}
			<tr valign="top"  class="bg-primary">
					<td colspan="2">TOTAL JOUR</td>
								{% set start_date = date1 %}
								{% set end_date = date2 %}
						{% for x in range(start_date|date('U'), end_date|date('U'), 86400 ) %}
						   <td>
										<div class="cell">&nbsp;</div><div class="cell">&nbsp;</div><div class="cell">&nbsp;</div><div class="cell"><strong>{% if totday[x|date('Y-m-d')] is defined %}{{ totday[x|date('Y-m-d')] }}{% else %}0{% endif %}</strong></div>
						   </td>
						{% endfor %}
					<td>
						&nbsp;
					</td>
    </table>
<br/>
</div>
</div>


<script>
$(document).ready(function() {
    $('[data-rel=popover]').popover({
      html: true,
      trigger: "hover"
    });
});
</script>
{% endblock %}
