{% extends '//hebline.html.twig' %}

{% block body %}
{% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} alert-dismissible fade show">
                {{ message }}
            </div>
        {% endfor %}
      {% endfor %}
<div class="fenetre-centered2">
	<div id="donnees">
    <h1>Message cron</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
	<br/>
</div>
	</div>
{% endblock %}
