<img src="{{logo}}" width="150">
<div class="card bg-gradient-default dark">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h1 class="text-uppercase text-light ls-1 mb-1"> {{site.nom}} {{dateetat | date('d-m-Y')}}</h1>
                </div>
              </div>
            </div>
            <div class="card-body">
              <!-- Chart -->
              <div class="chart"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                <!-- Chart wrapper -->
                <canvas id="canvas{{q}}" class="chart-canvas chartjs-render-monitor" width="1240" height="425" style="display: block; height: 350px; width: 827px;"></canvas>
              </div>
            </div>
</div>
<script>
    var config{{q}} = {
      type: 'line',
      data: {
        labels: {{ dates[site.id]|json_encode()|raw }},
        datasets: [{
          label: 'Objectif',
          backgroundColor: window.chartColors.green,
          borderColor: window.chartColors.green,
          data: {{ donnees2[site.id]|json_encode()|raw|replace({'"':''}) }},
          fill: false,
          spanGaps: true
        },
        {
          label: 'Inf année N',
          backgroundColor: window.chartColors.red,
          borderColor: window.chartColors.red,
          data: {{ donnees3[site.id]|json_encode()|raw|replace({'"':''}) }},
          fill: false,
          spanGaps: true
        },
         {
          label: 'Inf année N-1',
          backgroundColor: window.chartColors.grey,
          borderColor: window.chartColors.grey,
          data: {{ donnees4[site.id]|json_encode()|raw|replace({'"':''}) }},
          fill: false,
          spanGaps: true
        },
        {
          label: 'Relevés + inf ',
          fill: false,
          backgroundColor: window.chartColors.blue,
          borderColor: window.chartColors.blue,
          data: {{ donnees[site.id]|json_encode()|raw }},
          type: 'bar'
        }]
      },
      options: {
        maintainAspectRatio: false,
        responsive: false,
        title: {
          display: true,
          text: 'Relevés + Inf (Barres) - Objectif (Vert) - Inf N (Rouge) - Inf N-1 (Gris)'
        },
        animation: false,
        tooltips: {
          mode: 'index',
          intersect: false,
        },
        hover: {
          mode: 'nearest',
          intersect: true
        },
        scales: {
          xAxes: [{
            display: true,
            scaleLabel: {
              display: true,
              labelString: 'Jour'
            }
          }],
          yAxes: [{
            display: true,
            scaleLabel: {
              display: true,
              labelString: 'Nombre'
            }
          }]
        }
      }
    };

  </script>
