{% extends '//pdfetat.html.twig' %}

{% block body %}
<div style="padding:20px !important;">
{% set q = 0 %}
{% for site in chantiers %}
{% include 'Generique/Stats/Activite/graph.html.twig'%}
<div class="header pb-4 pt-2 pt-md-4" style="background-color: #32a3db !important;">
      <div class="container-fluid">
        <div class="header-body">
          <!-- Card stats -->
          <div class="row">
            <div class="col-xl-4 col-lg-4">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h2 class="card-title text-uppercase text-muted mb-0">Objectif</h2>
                      <span class="h2 font-weight-bold mb-0">{{ options[site.id]["totalr"] }}</span>
                      <h2 class="card-title text-uppercase text-muted mb-0">Réalisé <small>(compteurs relevés)</small></h2>
                      <span class="h2 font-weight-bold mb-0">{{ options[site.id]["totaleffectp"] }}</span>
                       <h2 class="card-title text-uppercase text-muted mb-0">Taux de relève global</h2>
                       <span class="h2 font-weight-bold mb-0">{{ options[site.id]["tauxreleveglobal"] }} %</span>
                      <span class="h2 font-weight-bold mb-0"></span>
                      <p class="mt-3 mb-0 text-muted text-sm">
                      <span class="text-nowrap">Delta</span>
                      {% if options[site.id]["deltad"] > 0 %}
                        <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> {{options[site.id]["deltad"]}}</span>
                      {% else%}
                        <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> {{options[site.id]["deltad"]}}</span>
                      {% endif %}
                  </p>
                    </div>
                  <div class="col-auto">
                      <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                        <i class="fas fa-chart-bar"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h2 class="card-title text-uppercase text-muted mb-0">Relèves/jour <small>(nb compteurs relevés/jours)</small></h2>
                      <span class="h2 font-weight-bold mb-0">{{ options[site.id]["cadence"] }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                        <i class="fas fa-chart-pie"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                     <div class="col">
                      <h2 class="card-title text-uppercase text-muted mb-0">Agents</h2>
                      <span class="h2 font-weight-bold mb-0">{{ options[site.id]["totalreleveur"] }}</span>
                    </div>
                    <div class="col">
                      <h2 class="card-title text-uppercase text-muted mb-0">Cadence <small>(Relèves/jour/agents)</small></h2>
                      <span class="h2 font-weight-bold mb-0">{{ options[site.id]["cadence_rl"] }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                        <i class="fas fa-users"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-12 col-lg-12 mt-1">
              <div class="card card-stats mb-12 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                        * Courbe n-1 basée sur le Taux relève N-1 déclaré dans le paramétrage du site
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
</br>
	{% set q = q+1 %}
	{% endfor %}
</div>
    </script>

	{% set q = 0 %}
    <script>
    window.onload = function() {

	{% for site in chantiers %}

      var ctx{{q}} = document.getElementById('canvas{{q}}').getContext('2d');
      window.myLine{{q}} = new Chart(ctx{{q}}, config{{q}});

		{% set q = q+1 %}
	{% endfor %}
};

var colorNames = Object.keys(window.chartColors);
    document.getElementById('addDataset').addEventListener('click', function() {
      var colorName = colorNames[config.data.datasets.length % colorNames.length];
      var newColor = window.chartColors[colorName];
      var newDataset = {
        label: 'Dataset ' + config.data.datasets.length,
        borderColor: newColor,
        backgroundColor: color(newColor).alpha(0.5).rgbString(),
        data: [],
      };

      for (var index = 0; index < config.data.labels.length; ++index) {
        newDataset.data.push(randomScalingFactor());
      }

      config.data.datasets.push(newDataset);
      window.myLine.update();
    });

  </script>
</div>
{% endblock %}

