{# admin.html.twig #}

{% extends "//adminlayout2.html.twig" %}

{% block title %}
  Admin - {{ parent() }}
{% endblock %}

{% block body %}

  {# On définit un sous-titre commun à toutes les pages du bundle, par exemple #}
  <h1>Admin</h1>

  <hr>

  {# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
  {% block leoplatform_body %}
  {% endblock %}

{% endblock %}
