{# app/Resources/views/layout.html.twig #}
{# header du front #}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}SBEAE{% endblock %}</title>
  {% block stylesheets %}
  <link href="/assets/js/plugins/nucleo/css/nucleo.css" rel="stylesheet">
<link href="/assets/js/plugins/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
<link type="text/css" href="/assets/css/argon-dashboard.css" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
  <script src="/Chart/Chart.min.js"></script>
  <script src="/Chart/samples/utils.js"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
  {% endblock %}
<link rel="stylesheet" href="/style.css?12">
</head>
<body>
 <div class="container2">
   <div class="row">
       <nav class="navbar navbar-default">
	  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img src="/images/logo-sbeae-4.png" alt="" id="logo" width="100" style="vertical-align: top !important;position: absolute;top:10px !important;">
    </div>
 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="padding-left: 120px !important;">
      <ul class="nav navbar-nav">
	  	<li><a href="{{ path('admin_enregistrements') }}">Enregistrements</a></li>
		  <li><a href="{{ path('admin_commentaires') }}">Commentaires</a></li>
		   <li><a href="{{ path('admin_sms2') }}">SMS</a></li>
		  <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Paramétrage<span class="caret"></span></a>
			  <ul class="dropdown-menu">
			  <li><a href="{{ path('admin_chantiers') }}">Gestion Sites</a></li>
			  <li role="separator" class="divider"></li>
			  <li><a href="{{ path('admin_users') }}">Gestion Agents</a></li>

			  </ul>
        </li>
		<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Suivi / Stats <span class="caret"></span></a>
			  <ul class="dropdown-menu">
			  <li><a href="{{ path('admin_stats_rapport') }}">Rapport</a></li>
        <li><a href="{{ path('admin_graph_activite_html') }}">Suivi Activité</a></li>
			  <li><a href="{{ path('admin_etat_activite_html') }}">Board</a></li>
			  <li><a href="{{ path('admin_stats_activite_html') }}">Suivi Jour</a></li>
			  <li><a href="{{ path('admin_clotures') }}">Clôtures</a></li>
			  <li><a href="{{ path('admin_non_clotures') }}">Non clôturés 10 jours</a></li>
			  </ul>
        </li>
		<li><a href="{{ path('admin_stats_log') }}">Log accès</a></li>
		<li><a href="{{ path('utilisateur_logout') }}">Déconnexion</a></li>
        </ul>
		</div>
		</div>
	</nav>
        {% block body %}
        {% endblock %}
     </div>
    <hr>
    <footer>
      <p><br/>© SBEAE {{ 'now'|date('Y') }}</p>
    </footer>
  </div>
</body>
</html>
