{# app/Resources/views/layout.html.twig #}
{# header du front #}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}SBEAE{% endblock %}</title>
  {% block stylesheets %}
  <link href="https://www.devz1.com/assets/js/plugins/nucleo/css/nucleo.css" rel="stylesheet">
<link href="https://www.devz1.com/assets/js/plugins/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
<link type="text/css" href="https://www.devz1.com/assets/css/argon-dashboard.css" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
  <script src="https://www.devz1.com/Chart/Chart.min.js"></script>
  <script src="https://www.devz1.com/Chart/samples/utils.js"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
  <style>
  body {background-color: #ffffff !important;}
#logo {height: 70px !important;}
  canvas{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  .bg-custom {background-color: #e3e3e3;}
  h1, h5 {padding-left: 40px;}
  #sbeae_enregistrement {display: flex;flex-wrap: wrap;flex-direction: row;}
  .form-group {min-width: 500px;}
      #donnees {width:440px;display: block;float:left;margin-left:310px;min-height: 800px;}
    #capture {width:280px !important;display: block;float:left;position:fixed; top:80px;}
     .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: green;
}
input:checked + .slider2 {
  background-color: blue !important;
}

input:checked + .slider3 {
  background-color: red !important;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
  </style>
  {% endblock %}

</head>
<body>
  <nav class="navbar navbar-horizontal navbar-expand-lg navbar-light bg-infos">
    <div class="container">
        <a class="navbar-brand" href="#"><img src="https://www.devz1.com/images/logo-sbeae-5.png" alt="" id="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-default">
            <div class="navbar-collapse-header navbar-dark">
                <div class="row" class="">
                    <div class="col-6 collapse-brand">
                         <a href="/" style="">
                            <img src="https://www.devz1.com/images/logo-sbeae-5.png" alt="" id="logo">
                        </a>
                    </div>
                    <div class="col-6 collapse-close">
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
                            <span style="color:blue !important;"></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>
            <ul class="navbar-nav ml-lg-auto">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="ni ni-bullet-list-67"></i> Enregistrements
                  </a>
                 <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('admin_enregistrements') }}">Relève</a>
                    <a class="dropdown-item" href="{{ path('admin_enregistrements_renou') }}"> Autres prestations</a>
                  </div>
                </li>

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="ni ni-book-bookmark"></i> Gestion
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('admin_evenements') }}">Evenements</a>
                    <a class="nav-link" href="{{ path('admin_sms2') }}">SMS</a>
                    <a class="dropdown-item" href="{{ path('admin_chantiers') }}">Sites</a>
                    <a class="dropdown-item" href="{{ path('admin_users') }}">Agents</a>
                    <!--<a class="dropdown-item" href="{{ path('admin_commentaires') }}">Commentaires</a>-->
                  </div>
                </li>
                 <li class="nav-item dropdown">

                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   <i class="ni ni-chart-bar-32"></i> Stats
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{{ path('admin_stats_rapport') }}">Rapport Releve</a>
                  <a class="dropdown-item" href="{{ path('admin_stats_rapport_renou') }}">Rapport Renou</a>
                  <a class="dropdown-item" href="{{ path('admin_graph_activite_html') }}">Suivi Activité</a>
                  <!--<a class="dropdown-item" href="{{ path('admin_etat_activite_html') }}">Board</a>-->
                  <!--<a class="dropdown-item" href="{{ path('admin_stats_activite_html') }}">Suivi Jour</a>-->
                  <a class="dropdown-item" href="{{ path('admin_clotures') }}">Clôtures</a>
                  <a class="dropdown-item" href="{{ path('admin_non_clotures') }}">Non clôturés 10 jours</a>
                  <a class="dropdown-item" href="{{ path('admin_stats_log') }}">Log accès</a>
                  </div>
                </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{{ path('utilisateur_logout') }}"><i class="ni ni-button-power"></i> Déconnexion</a>
                  </li>
            </ul>

        </div>
    </div>
</nav>
<br/>
<div style="padding:20px !important;">
      {% block body %}
      {% endblock %}
 </div>
    <hr style="clear:both;">
    <footer>
      <p><br/>© SBEAE {{ 'now'|date('Y') }}</p>
    </footer>
<script src="https://www.devz1.com/assets/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://www.devz1.com/assets/js/argon-dashboard.min.js"></script>
</body>
</html>
