<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
	test
{% for message in app.flashes('success') %}
    <div class="alert alert-success">
		{{ message }}
    </div>
{% endfor %}
<div id="formulaire">
    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
</div>	
    </body>
</html>
