{# client.html.twig #}

{% extends "//clientlayout.html.twig" %}

{% block title %}
  Hebline - {{ parent() }}
{% endblock %}
{% block body %}
  {# On définit un sous-titre commun à toutes les pages du bundle, par exemple #}
  <h1>Admin</h1>
  <hr>
  {# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
  {% block leoplatform_body %}
  {% endblock %}
{% endblock %}