{# app/Resources/views/layout.html.twig #}
{# header du front #}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}SBEAE{% endblock %}</title>
  {% block stylesheets %}
<link href="/assets/js/plugins/nucleo/css/nucleo.css" rel="stylesheet">
<link href="/assets/js/plugins/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
<link type="text/css" href="/assets/css/argon-dashboard.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
  <script src="/Chart/Chart.min.js"></script>
  <script src="/Chart/samples/utils.js"></script>
  <style>
  canvas{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  .bg-custom {background-color: #e3e3e3;}
  h1, h5 {padding-left: 40px;}
  #sbeae_enregistrement {display: flex;flex-wrap: wrap;flex-direction: row;}
  .form-group {min-width: 500px;}
      #donnees {width:440px;display: block;float:left;margin-left:310px;min-height: 800px;}
    #capture {width:280px !important;display: block;float:left;position:fixed; top:80px;}
  </style>
  {% endblock %}

</head>
<body>

<nav class="navbar navbar-horizontal navbar-expand-lg navbar-light bg-infos">
    <div class="container">
        <a class="navbar-brand" href="#"><img src="/images/logo-sbeae-5.png" alt="" id="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-default">
            <div class="navbar-collapse-header navbar-dark">
                <div class="row" class="">
                    <div class="col-6 collapse-brand">
                         <a href="/" style="">
                            <img src="/images/logo-sbeae-5.png" alt="" id="logo">
                        </a>
                    </div>
                    <div class="col-6 collapse-close">
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
                            <span style="color:blue !important;"></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>
            <ul class="navbar-nav ml-lg-auto">
                <li class="nav-item">
                    <a class="nav-link nav-link-icon" href="{{ path('client_graph_activite_html') }}">

                       <i class="ni ni-chart-bar-32"></i>
                        <span class="nav-link-inner--text">Suivi Activité</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-icon" href="{{ path('client_enregistrements') }}">
                      <i class="ni ni-bullet-list-67"></i>
                        <span class="nav-link-inner--text">Enregistrements</span>
                    </a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link nav-link-icon" href="{{ path('client_etat_activite_html') }}">

                      <i class="ni ni-book-bookmark"></i>
                        <span class="nav-link-inner--text">Board</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-icon" href="{{ path('utilisateur_logout') }}">
                      <i class="ni ni-button-power"></i>
                        <span class="nav-link-inner--text">Déconnexion</span>
                    </a>
                </li>
            </ul>

        </div>
    </div>
</nav>
<br/>
        {% block body %}
        {% endblock %}
    <br/>
    <footer>
      <p><br/>© SBEAE {{ 'now'|date('Y') }}</p>
    </footer>
<script src="/assets/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/argon-dashboard.min.js"></script>
</body>
</html>
