{# client.html.twig #}

{% extends "//clientlayout2.html.twig" %}

{% block title %}
  Hebline - {{ parent() }}
{% endblock %}

{% block body %}
  {% block leoplatform_body %}
  {% endblock %}
{% endblock %}
