{# src/LEO/CommerceBundle/Resources/views/admin.html.twig #}

{% extends "//layout2.html.twig" %}

{% block title %}
  {{ parent() }}
{% endblock %}

{% block body %}

  {# On définit un sous-titre commun à toutes les pages du bundle, par exemple #}
  <h1>SBEAE</h1>

  <hr>

  {# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
  {% block leoplatform_body %}
  {% endblock %}

{% endblock %}
