{# app/Resources/views/layout.html.twig #}
{# header du front #}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}SBEAE{% endblock %}</title>
  {% block stylesheets %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://getbootstrap.com/docs/3.3/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  {% endblock %}
<link rel="stylesheet" href="/style.css?12">
</head>
<body>
 <div class="container2">
   <div class="row">
       <nav class="navbar navbar-default">
	  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img src="/images/logo-sbeae-4.png" alt="" id="logo" width="100" style="vertical-align: top !important;position: absolute;top:10px !important;">
    </div>
 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="padding-left: 120px !important;">
      <ul class="nav navbar-nav">
		<li><a href="#"><strong>HEBLINE</strong></a></li>
		  <li><a href="{{ path('hebline_enregistrements') }}">Enregistrements</a></li>
		  <li><a href="{{ path('hebline_commentaires') }}">Commentaires</a></li>
		  <li><a href="{{ path('hebline_sms2') }}">SMS</a></li>
		  <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Paramétrage<span class="caret"></span></a>
			  <ul class="dropdown-menu">
			  <li><a href="{{ path('hebline_chantiers') }}">Gestion Sites</a></li>
			  <li role="separator" class="divider"></li>
			  <li><a href="{{ path('hebline_users') }}">Gestion Agents</a></li>

			  </ul>
        </li>
		<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Suivi / Stats <span class="caret"></span></a>
			  <ul class="dropdown-menu">
			  <li><a href="{{ path('hebline_stats_rapport') }}">Rapport</a></li>
        <li><a href="{{ path('hebline_graph_activite_html') }}">Suivi Activité</a></li>
        <li><a href="{{ path('hebline_etat_activite_html') }}">Board</a></li>
			  <li><a href="{{ path('hebline_stats_activite_html') }}">Suivi Jour</a></li>
			  <li><a href="{{ path('hebline_clotures') }}">Clôtures</a></li>
			  <li><a href="{{ path('hebline_non_clotures') }}">Non clôturés 10 jours</a></li>
			  </ul>
        </li>
		<li><a href="{{ path('hebline_messagecron') }}/1">Message Cron</a></li>
		<li><a href="{{ path('hebline_stats_log') }}">Log accès</a></li>
		<li><a href="{{ path('utilisateur_logout') }}">Déconnexion</a></li>
        </ul>
		</div>
		</div>
	</nav>
        {% block body %}
        {% endblock %}
     </div>
    <hr>
    <footer>
      <p><br/>© SBEAE {{ 'now'|date('Y') }}</p>
    </footer>
  </div>
</body>
</html>
