<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
{% for message in app.flashes('success') %}
    <div class="alert alert-success">
		{{ message }}
    </div>
{% endfor %}
test
    </body>
</html>
