{# app/Resources/views/layout.html.twig #}
{# header du front #}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}SBEAE{% endblock %}</title>
  {% block stylesheets %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">    
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  {% endblock %}
<link rel='icon' href='favicon.ico' type='image/x-icon' />  
<link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
      <div class="row">
       <nav class="navbar navbar-default">
	  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
     <img src="/images/logo-sbeae-4.png" alt="" id="logo" width="100" style="vertical-align: top !important;position: absolute;top:10px !important;">
    </div>
	{% if is_granted('ROLE_FRONT') %}
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="padding-left: 120px !important;">
      <ul class="nav navbar-nav">
		  <li><a href="{{ path('acces_sbeae') }}">Sites</a></li>
		  <li><a href="{{ path('front_enregistrements') }}">Enregistrements</a></li>
		  <li><a href="{{ path('aide_sbeae') }}">Aide</a></li>
		  <li><a href="{{ path('contact_sbeae') }}">Contact</a></li>
		  <li><a href="{{ path('utilisateur_logout') }}">Déconnexion</a></li>
        </ul>
		</div>
		{% endif %}
		</div>
	</nav>
	{% if app.user %}
	<p>Utilisateur : <strong>{{ app.user.prenom }} {{ app.user.nom }}</strong></p>
	{% endif %}
        {% block body %}
        {% endblock %}
    <hr>
    <footer>
	
	<p>&nbsp;</p>
      <p><br/>© SBEAE {{ 'now'|date('Y') }}</p>
    </footer>
  </div>

  {% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  {% endblock %}

</body>
</html>