{# app/Resources/views/layout.html.twig #}
{# header du front #}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}SBEAE{% endblock %}</title>
<link href="/assets/js/plugins/nucleo/css/nucleo.css" rel="stylesheet">
<link href="/assets/js/plugins/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
<link type="text/css" href="/assets/css/argon-dashboard.css" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <script src="/assets/js/jquery-1.11.3.js"></script>
  <script src="/Chart/Chart.min.js"></script>
  <script src="/Chart/samples/utils.js"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>

<link rel="stylesheet" href="/style.css">
<link rel='icon' href='favicon.ico' type='image/x-icon' />
<style>
.modal-backdrop {
  z-index: -1;
}
#commentaire {width: 300px;}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-body {padding: 2px 16px;}


.modal-header {
  padding: 2px 16px;
  background-color: #11cdef;
  color: white;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 400px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.modal-body {padding: 20px 40px;}


</style>
</head>
<body>
  <nav class="navbar navbar-horizontal navbar-expand-lg navbar-light bg-infos">
    <div class="container">
        <a class="navbar-brand" href="#"><img src="/images/logo-sbeae-5.png" alt="" id="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-default">
            <div class="navbar-collapse-header navbar-dark">
                <div class="row" class="">
                    <div class="col-6 collapse-brand">
                         <a href="/" style="">
                            <img src="/images/logo-sbeae-5.png" alt="" id="logo">
                        </a>
                    </div>
                    <div class="col-6 collapse-close">
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
                            <span style="color:blue !important;"></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>
            {% if is_granted('ROLE_FRONT') or is_granted('ROLE_RENOU')%}
            <ul class="navbar-nav ml-lg-auto">
                <li class="nav-item">
                      <a class="nav-link" href="{{ path('acces_sbeae') }}"> Déclaration</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Historique
                  </a>
                 <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('front_enregistrements') }}">Relève</a>
                    <a class="dropdown-item" href="{{ path('front_enregistrements_renou') }}"> Renou</a>
                  </div>
                </li>
                <li class="nav-item">
                      <a class="nav-link" href="{{ path('front_evenements') }}">Evénements</a>
                </li>
                <!--<li class="nav-item">
                      <a class="nav-link" href="{{ path('front_pointages') }}"> Pointages</a>
                </li>-->
                <li class="nav-item">
                      <a class="nav-link" href="{{ path('front_tutorial') }}"><strong>Tutos vidéos</strong></a>
                </li>
                <li class="nav-item">
                      <a class="nav-link" href="{{ path('contact_sbeae') }}"> Contact</a>
                </li>
                                <li class="nav-item">
                      <a class="nav-link" href="{{ path('utilisateur_logout') }}"> Déconnexion</a>
                </li>
            </ul>
          {% endif %}
        </div>
    </div>
</nav>
   <br style="clear: both;">

  <div style="padding:20px !important;max-width: 800px;margin: 0 auto;">
  {% if app.user %}
  <p>Utilisateur : <strong>{{ app.user.prenom }} {{ app.user.nom }}</strong></p>
  {% endif %}
        {% block body %}
        {% endblock %}
   </div>
   <br style="clear: both;">
    <hr>
    <footer>

	<p>&nbsp;</p>
      <p><br/>© SBEAE {{ 'now'|date('Y') }}</p>
    </footer>
  </div>

  {% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}

<script src="/assets/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  {% endblock %}

</body>
</html>
