{# app/Resources/views/layout.html.twig #}
{# header du front #}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}SBEAE{% endblock %}</title>
  {% block stylesheets %}
<link href="/assets/js/plugins/nucleo/css/nucleo.css" rel="stylesheet">
<link href="/assets/js/plugins/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
<link type="text/css" href="/assets/css/argon-dashboard.css" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
  <script src="/Chart/Chart.min.js"></script>
  <script src="/Chart/samples/utils.js"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
  <style>
  body {background-color: #ffffff !important;}
  #logo {height: 70px !important;}
  </style>
  {% endblock %}
</head>
<body>
<div style="padding:20px !important;">
      {% block body %}
      {% endblock %}
 </div>
    <hr style="clear:both;">
    <footer>
      <p><br/>© SBEAE {{ 'now'|date('Y') }}</p>
    </footer>
<script src="/assets/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/argon-dashboard.min.js"></script>
</body>
</html>
