{% extends '//admin2.html.twig' %}

{% block body %}
<div class="fenetre-centered">
{% for label, messages in app.session.flashbag.all %}
   <div class="alert alert-notice">
         {% for message in messages %}
		  <div class="alert alert-notice">
           {{message}}
		   </div>
        {% endfor %}
    </div>
{% endfor %}
    <h1>{{ titre }}</h1>
	<script src="https://code.jquery.com/jquery-1.11.3.js"></script>
    <script src="https://cdn.anychart.com/releases/8.6.0/js/anychart-base.min.js" type="text/javascript"></script>
	<script src="https://cdn.anychart.com/releases/8.6.0/js/anychart-data-adapter.min.js" type="text/javascript"></script>
	{% set q = 0 %}
	<script>
	{% for site in chantiers %}
var html = '<div>{{site.nom}} - Du {{site.datedebut | date('d-m-Y')}} au {{site.datefin | date('d-m-Y')}}</br> ' +
  '<table class="table"> ' +
    '<tr><td scope="col">Prévu</td><td scope="col">Réalisé</td><td scope="col">Delta</td><td scope="col">Relève Jour</td><td scope="col">Agents</td><td scope="col">Cadence</td></tr> ' +
    '<tr><td>{{ options[site.id]["totalr"] }}</td><td>{{ options[site.id]["totaleffectp"] }}</td><td {{ options[site.id]["avancement"] | raw}}>{{ options[site.id]["delta"] }}</td><td>{{ options[site.id]["cadence"] }}</td><td>{{ options[site.id]["totalreleveur"] }}</td><td>{{ options[site.id]["cadence"] }}</td></tr> ' +
 '</table></div>';
  document.write(html);
		anychart.onDocumentReady(function () {
		anychart.data.loadJsonFile("/{{ repo }}/graph_activite/{{site.id}}/", function (data) {
    var chart = anychart.fromJson(data);


			chart.barsPadding(-1);
			//chart.barGroupsPadding(1);
      chart.barGroupsPadding(0);
    chart.labels().enabled(true).format("{{ '{' }}%x{{ '}' }}");
    chart.getSeriesAt(0).tooltip().format("Relève: {{ '{' }}%value{{ '}' }}");
    chart.getSeriesAt(1).tooltip().format("Objectif: {{ '{' }}%value{{ '}' }}");
    chart.getSeriesAt(1).stroke({color: "#2F4F4F"});
    chart.getSeriesAt(2).tooltip().format("N-1: {{ '{' }}%value{{ '}' }}");
    chart.getSeriesAt(2).stroke({color: "#FFFFFF"});
var i=0;
// create a loop
while (chart.getSeriesAt(i)){
  // rename each series
  chart.getSeriesAt(i).labels(false);;
  i++;
}

		chart.title().text("{{site.nom}} - Cumul relevés");
		chart.container("container{{q}}");
		chart.draw();
    });});
	{% set q = q+1 %}
	{% endfor %}
    </script>
	{% set q = 0 %}
	{% for site in chantiers %}
    <div id="container{{q}}" style="height:400px; width:100%;"></div>
		{% set q = q+1 %}
	{% endfor %}
</div>
{% endblock %}

