{% extends '//admin2.html.twig' %}

{% block body %}
<div class="fenetre-centered">
{% for label, messages in app.session.flashbag.all %}
   <div class="alert alert-notice">
         {% for message in messages %}
		  <div class="alert alert-notice">
           {{message}}
		   </div>
        {% endfor %}
    </div>
{% endfor %}
    <h1>{{ titre }}</h1>

	<table id="myTable" width="100%">
  <tr class="header">
				<th>Id</th>
				<th>Date Rel.</th>
				<th>Zone</th>
				<th>Chantier</th>
				<th>Utilisateur</th>
				<th>Actions</th>
  </tr>
        <tbody>
		{% for enreg in enregs %}
            <tr >
				<td>{{ enreg.id}}</td>
				<td>{{ enreg.datereleve | date('d-m-Y')}}</td>
				<td>{{ enreg.zone.nom }}</td>
				<td>{{ enreg.chantier.nom }}</td>
				<td>{{ enreg.user.nom }}</td>
                <td>
                    <a href="{{ path('hebline_enregistrements_detail', { 'id': enreg.id }) }}" class="btn btn-info">Détail</a>
				</td>
            </tr>
		 {% endfor %}
        </tbody>
    </table>

<br/>
<script>

$(document).ready(function() {
    $('[data-rel=popover]').popover({
      html: true,
      trigger: "hover"
    });
	$('#sbeae_enregistrement_page').val(1);
});
function clickering(page){
$('#sbeae_enregistrement_page').val(page);
$('#sbeae_enregistrement').submit();
return false;
}


</script>
{% endblock %}
