<!DOCTYPE html>
<html>
<body>
<table width="264">
        <tbody>
			<tr>
                <td>
                {% for document in enreg.documents %}
                      {% if document.filename != '' %}
                      <a href="#"><i class="fas fa-image fa-2x" style="margin:5px;" data-rel="popover" title="<strong>Capture</strong>" data-placement="left" data-offset="300" data-content="<img src='/uploads/documents/{{ document.filename }}'  width=300>"></i></a>
                      {% endif %}
                {% endfor %}
				</td>
            </tr>
		</tbody>
    </table>
	<br/>
	<br/>
</body>
</html>
