{% extends '//client2.html.twig' %}

{% block body %}
<div class="fenetre-centered">
{% for label, messages in app.session.flashbag.all %}
   <div class="alert alert-notice">
         {% for message in messages %}
		  <div class="alert alert-notice">
           {{message}}
		   </div>
        {% endfor %}
    </div>
{% endfor %}
<div style="padding:20px !important;">
    <h1>{{ titre }}</h1>
      <a href="#recherche" class="btn btn-info" data-toggle="collapse">Rechercher</a>
<div class="well collapse" id="recherche">
	{{ form(form, {'attr': {'id': 'sbeae_enregistrement'}}) }}
</div>

	<table id="myTable"  class="table-striped table-bordered">
  <tr class="header">
				<th>Id</th>
				<th>Date Rel.</th>
				<th>Date Enreg.</th>
				<th>Zone</th>
				<th>Chantier</th>
                <th>Titre</th>
				<th>Utilisateur</th>
				<th>RR</th>
                <th>Rel.</th>
				<th>Inf.</th>
				<th>Total</th>
				<th>Clôt.</th>
				<!--<th>Total Rel.</th>
				<th>Total Infr.</th>
				<th>Total Clôt.</th>-->
				<th>Total Tr</th>
				<th>Comm.</th>
				<th>Capt.</th>
				<th>Contrôle</th>
				<th>Défaut</th>
				<th>Actions</th>
  </tr>
        <tbody>
		{% for enreg in enregs %}
            <tr >
				<td>{{ enreg.id}}</td>
				<td>{{ enreg.datereleve | date('d-m-Y')}}</td>
				<td>{{ enreg.datecrea | date('d-m-Y  H:i')}}</td>
				<td>{{ enreg.zone.nom }}</td>
				<td>{{ enreg.chantier.nom }}</td>
                <td>{{ enreg.titre}}</td>
				<td><strong>{{ enreg.user.nom }} {{ enreg.user.prenom }}</strong></td>
				<td>{% if enreg.radioreleve == 1 %}Oui{% else %}.{% endif %}</td>
				<td>{{ enreg.releve }}</td>
				<td>{{ enreg.infructueux }}</td>
				<td>{{ enreg.total }}</td>
				<td>{% if enreg.cloture == 1 %}
				<span style="font-size: 1.5em; color: #4ab9da;"><i class="fas fa-calendar-check"></i></span>
				{% endif %}</td>
				<td>{%if enreg.totalOcrTournee > 0 %}<button type="button"  class="btn btn-infos" data-rel="popover" title="Tournées" data-content="{% for tournee in enreg.tournees %}{{ tournee.code }} {{ tournee.releve }}/{{ tournee.infructueux }}<br/>{% endfor %}">{{ enreg.totalOcrTournee }}</button>{% endif %}</td>
				<td>{{ enreg.commentaire | raw }}</td>
				<td>
				        {% for document in enreg.documents %}
                      {% if document.filename != '' %}
                      <a href="#"><i class="fas fa-image fa-2x" style="margin:5px;" data-rel="popover" title="<strong>Capture</strong>" data-placement="left" data-offset="300" data-content="<img src='/uploads/documents/{{ document.filename }}'  width=300>"></i></a>
                      {% endif %}
                {% endfor %}
				</td>
				<td>
						{% if enreg.controle == 1 %}
							<label class="switch" disabled >
							  <input type="checkbox" class="selecter" value="{{ enreg.id }}" checked disabled >
							  <span class="slider round"></span>
							</label>
						{% else %}
							<label class="switch" disabled >
							  <input type="checkbox" class="selecter" value="{{ enreg.id }}" disabled >
							  <span class="slider round"></span>
							</label>
						{% endif %}
				</td>
				<td>
						{% if enreg.defaut == 1 %}
							<label class="switch" disabled >
							  <input type="checkbox" class="selecter2" value="{{ enreg.id }}" checked disabled >
							  <span class="slider round slider3"></span>
							</label>
						{% else %}
							<label class="switch" disabled >
							  <input type="checkbox" class="selecter2" value="{{ enreg.id }}" disabled >
							  <span class="slider round slider3"></span>
							</label>
						{% endif %}
				</td>
                <td>
                    <a href="{{ path('client_enregistrements_detail', { 'id': enreg.id }) }}" class="btn btn-info">Détail</a>
				</td>
            </tr>
		 {% endfor %}
        </tbody>
    </table>
	{% if nbPages > 1 %}
<ul class="pagination">
  {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
  {% for p in range(1, nbPages) %}
    <li{% if p == page %} class="active"{% endif %}>
			<a href="#" onclick="javascript:clickering({{p}});" class="page-link">{{ p }}</a>
    </li>
  {% endfor %}
</ul>
{% endif %}
	<br/>
<br/>
</div>
<script>

$(document).ready(function() {
    $('[data-rel=popover]').popover({
      html: true,
      trigger: "hover"
    });
	$('#sbeae_enregistrement_page').val(1);
});
function clickering(page){
$('#sbeae_enregistrement_page').val(page);
$('#sbeae_enregistrement').submit();
return false;
}


</script>
{% endblock %}
