{% extends '//'~repo~'.html.twig' %}

{% block body %}
  <style>
.custom-file-label { opacity: 0; }
.custom-file-input { opacity: 1; }
label[for="sbeae_evenement_imageFile1_file"],label[for="sbeae_evenement_imageFile2_file"]
 {display: none !important;}
  </style>
<div class="fenetre-centered">
  {% for label, messages in app.session.flashbag.all %}
   <div class="alert alert-notice">
         {% for message in messages %}
     {% if message != '' %}
      <div class="alert alert-{{ label }}">{{message}}</div>
       {% endif %}
        {% endfor %}

    </div>
{% endfor %}
<h1>{{ titre }}</h1>
<div id="formulaire">
    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    {{ form_end(edit_form) }}
</div>
 <a href="{{ path(repo~'_evenements') }}" class="btn btn-info">Retour à la liste</a>
{% endblock %}
