{% extends '//'~repo~'.html.twig' %}

{% block body %}
  <style>
    .card-header {height: 50px;padding: 0; margin:0;}
    #sbeae_evenement_user, #sbeae_evenement2_user, textarea, input[type=file] {width: 400px !important;}
.custom-file-label { opacity: 0; }
.custom-file-input { opacity: 1; }
label[for="sbeae_evenement_imageFile1_file"]
 {display: none !important;}
  </style>

<div class="fenetre-centered">
  {% for label, messages in app.session.flashbag.all %}
   <div class="alert alert-notice">
         {% for message in messages %}
     {% if message != '' %}
      <div class="alert alert-{{ label }}">{{message}}</div>
       {% endif %}
        {% endfor %}

    </div>
{% endfor %}
<div id="accordion">
   <div class="card">
    <div class="card-header" id="headingZero">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseZero" aria-expanded="false" aria-controls="collapseZero" style="font-size: 20px !important;">
          Commentaire CA
        </button>
      </h5>
    </div>
    <div id="collapseZero" class="collapse {% if target == 2 %}show{% endif %}" aria-labelledby="headingZero" data-parent="#accordion">
      <div class="card-body">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal1" onClick="$('#Modal1Title').html('Commentaire CA');$('#sbeae_evenement_type').val(9);">
  <h4 class="text-white">Commentaire CA</h4>
</button>
        {% if commentaires|length > 0 %}
 <table id="myTable0" width="100%" class="table table-striped table-bordered">
          <thead>
          <tr class="header">
            <th></th>
                <th>Date</th>
                <th>Agent</th>
                <th>Dates</th>
                <th>Commentaire</th>
                <th>Documents</th>
                <th></th>
              </tr>
        <thead>
          <tbody>
        {% for enreg in commentaires %}
          <tr>
                <td>{{ enreg.datecrea | date('Ymd')}}</td>
                <td>{{ enreg.datecrea | date('d-m-Y')}}</td>
                <td>{{ enreg.user.nom}} {{ enreg.user.prenom}}</td>
                <td>Du {{ enreg.datedebut | date('d-m-Y')}} au {{ enreg.datefin | date('d-m-Y')}}</td>
                <td>{{ enreg.commentaire}}</td>
                <td>{% if enreg.docName1 != '' %}
                <a href="/uploads/documents/{{ enreg.docName1 }}" target="_blan"><i class="fas fa-2x fa-image"></i></a>{% endif %}
                {% if enreg.docName2 != '' %}
                <a href="/uploads/documents/{{ enreg.docName2 }}" target="_blan"><i class="fas fa-2x fa-image"></i></a>{% endif %}
                </td>
                <td>
                  {% if app.user.id == 5 %}
                  <a href="/hebline/evenements/delete/{{ enreg.id }}"><i class="fas fa-2x fa-trash"></i></a>&nbsp;&nbsp;
                  {% endif %}
                  <a href="/{{ repo }}/evenements/edit/{{ enreg.id }}" class="btn btn-info">Modifier</a></td>
          </tr>
        {% endfor %}
      </tbody>
        </table><br/>
      {% endif %}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal1" onClick="$('#Modal1Title').html('Commentaire CA');$('#sbeae_evenement_type').val(9);">
  <h4 class="text-white">Commentaire CA</h4>
</button>
    <br style="clear:both;">
      </div>
    </div>
  </div>
    <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" style="font-size: 20px !important;">
          Congés
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse {% if target == 2 %}show{% endif %}" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal1" onClick="$('#Modal1Title').html('Demande de congés');$('#sbeae_evenement_type').val(2);">
  <h4 class="text-white">Demande de congés</h4>
</button>
        {% if conges|length > 0 %}
 <table id="myTable1" width="100%" class="table table-striped table-bordered">
          <thead>
          <tr class="header">
                <th></th>
                <th>Date Demande</th>
                <th>Agent</th>
                <th>Dates</th>
                <th>Commentaire</th>
                <th>Statut</th>
                <th>Documents</th>
                <th></th>
              </tr>
        <thead>
          <tbody>
        {% for enreg in conges %}
          <tr>
            <td>{{ enreg.datecrea | date('Ymd')}}</td>
                <td>{{ enreg.datecrea | date('d-m-Y')}}</td>
                <td>{{ enreg.user.nom}} {{ enreg.user.prenom}}</td>
                <td>Du {{ enreg.datedebut | date('d-m-Y')}} au {{ enreg.datefin | date('d-m-Y')}}</td>
                <td>{{ enreg.commentaire}}</td>
              <td><button type="button" class="btn btn-primary" style="padding:3px;" onClick="javascript:update({{ enreg.id }});" id="update{{enreg.id}}">
                {% if enreg.etat ==0 %}Attente{% elseif enreg.etat ==2 %}Refusé{% elseif enreg.etat ==1 %}OK{% endif %}</button></td>
                <td>{% if enreg.docName1 != '' %}
                <a href="/uploads/documents/{{ enreg.docName1 }}" target="_blank"><i class="fas fa-2x fa-image"></i></a>{% endif %}
                {% if enreg.docName2 != '' %}
                <a href="/uploads/documents/{{ enreg.docName2 }}" target="_blank"><i class="fas fa-2x fa-image"></i></a>{% endif %}
                </td>
                <td>
                  {% if app.user.id == 5 %}
                  <a href="/hebline/evenements/delete/{{ enreg.id }}"><i class="fas fa-2x fa-trash"></i></a>&nbsp;&nbsp;
                  {% endif %}
                  <a href="/{{ repo }}/evenements/edit/{{ enreg.id }}" class="btn btn-info">Modifier</a></td>
          </tr>
        {% endfor %}
      </tbody>
        </table><br/>
      {% endif %}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal1" onClick="$('#Modal1Title').html('Demande de congés');$('#sbeae_evenement_type').val(2);">
  <h4 class="text-white">Demande de congés</h4>
</button>
    <br style="clear:both;">
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="heading1">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1"  style="font-size: 20px !important;">
          Maladie
        </button>
      </h5>
    </div>

    <div id="collapse1" class="collapse {% if target == 1 %}show{% endif %}" aria-labelledby="heading1" data-parent="#accordion">
      <div class="card-body">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal1" onClick="$('#Modal1Title').html('Signaler un arrêt maladie');$('#sbeae_evenement_type').val(1);">
  <h4 class="text-white">Signaler un arrêt maladie</h4>
</button>
         {% if maladies|length > 0 %}
        <table id="myTable2" width="100%" class="table table-striped table-bordered">
           <thead>
          <tr class="header">
            <th></th>
                <th>Demande</th>
                <th>Agent</th>
                <th>Dates</th>
                <th>Commentaire</th>
                <th>Statut</th>
                <th>Docs</th>
                <th></th>
          </tr>
        </thead>
        <tbody>
        {% for enreg in maladies %}
          <tr>
            <td>{{ enreg.datecrea | date('Ymd')}}</td>
                <td>{{ enreg.datecrea | date('d-m-Y')}}</td>
                <td>{{ enreg.user.nom}} {{ enreg.user.prenom}}</td>
                <td>Du {{ enreg.datedebut | date('d-m-Y')}} au {{ enreg.datefin | date('d-m-Y')}}</td>
                <td>{{ enreg.commentaire}}</td>
                 <td><button type="button" class="btn btn-primary" style="padding:3px;" onClick="javascript:update({{ enreg.id }});" id="update{{enreg.id}}">
                {% if enreg.etat ==0 %}Attente{% elseif enreg.etat ==2 %}Refusé{% elseif enreg.etat ==1 %}OK{% endif %}</button></td>
                <td>{% if enreg.docName1 != '' %}
                <a href="/uploads/documents/{{ enreg.docName1 }}" target="_blan"><i class="fas fa-2x fa-image"></i></a>{% endif %}
                {% if enreg.docName2 != '' %}
                <a href="/uploads/documents/{{ enreg.docName2 }}" target="_blan"><i class="fas fa-2x fa-image"></i></a>{% endif %}
                </td>
                <td>
                  {% if app.user.id == 5 %}
                  <a href="/hebline/evenements/delete/{{ enreg.id }}"><i class="fas fa-2x fa-trash"></i></a>&nbsp;&nbsp;
                  {% endif %}
                  <a href="/{{ repo }}/evenements/edit/{{ enreg.id }}" class="btn btn-info">Modifier</a></td>
          </tr>
        {% endfor %}
         </tbody>
        </table><br/>
      {% endif %}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal1" onClick="$('#Modal1Title').html('Signaler un arrêt maladie');$('#sbeae_evenement_type').val(1);">
  <h4 class="text-white">Signaler un arrêt maladie</h4>
</button>
    <br style="clear:both;">
      </div>
    </div>
  </div>

    <div class="card">
    <div class="card-header" id="heading7">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7"  style="font-size: 20px !important;">
          Accident du travail
        </button>
      </h5>
    </div>

    <div id="collapse7" class="collapse {% if target == 7 %}show{% endif %}" aria-labelledby="heading7" data-parent="#accordion">
      <div class="card-body">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal1" onClick="$('#Modal1Title').html('Signaler un accident du travail');$('#sbeae_evenement_type').val(7);">
  <h4 class="text-white">Signaler un accident du travail</h4>
</button>
         {% if travails|length > 0 %}
        <table id="myTable2" width="100%" class="table table-striped table-bordered">
          <thead>
          <tr class="header">
            <th></th>
                <th>Date Demande</th>
                <th>Agent</th>
                <th>Dates</th>
                <th>Commentaire</th>
                <th>Statut</th>
                <th>Documents</th>
                <th></th>
              </tr>
        <thead>
          <tbody>
        {% for enreg in travails %}
          <tr>
            <td>{{ enreg.datecrea | date('Ymd')}}</td>
                <td>{{ enreg.datecrea | date('d-m-Y')}}</td>
                <td>{{ enreg.user.nom}} {{ enreg.user.prenom}}</td>
                <td>Du {{ enreg.datedebut | date('d-m-Y')}} au {{ enreg.datefin | date('d-m-Y')}}</td>
                <td>{{ enreg.commentaire}}</td>
                <td><button type="button" class="btn btn-primary" style="padding:3px;" onClick="javascript:update({{ enreg.id }});" id="update{{enreg.id}}">
                {% if enreg.etat ==0 %}Attente{% elseif enreg.etat ==2 %}Refusé{% elseif enreg.etat ==1 %}OK{% endif %}</button></td>
                <td>{% if enreg.docName1 != '' %}
                <a href="/uploads/documents/{{ enreg.docName1 }}" target="_blan"><i class="fas fa-2x fa-image"></i></a>{% endif %}
                {% if enreg.docName2 != '' %}
                <a href="/uploads/documents/{{ enreg.docName2 }}" target="_blan"><i class="fas fa-2x fa-image"></i></a>{% endif %}
                </td>
                <td>
                  {% if app.user.id == 5 %}
                  <a href="/hebline/evenements/delete/{{ enreg.id }}"><i class="fas fa-2x fa-trash"></i></a>&nbsp;&nbsp;
                  {% endif %}
                  <a href="/{{ repo }}/evenements/edit/{{ enreg.id }}" class="btn btn-info">Modifier</a></td>
          </tr>
        {% endfor %}
      </tbody>
        </table>
      {% endif %}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal1" onClick="$('#Modal1Title').html('Signaler un accident du travail');$('#sbeae_evenement_type').val(7);">
  <h4 class="text-white">Signaler un accident du travail</h4>
</button>
    <br style="clear:both;">
      </div>
    </div>
  </div>
    <div class="card">
    <div class="card-header" id="heading8">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8"  style="font-size: 20px !important;">
          Autre absence
        </button>
      </h5>
    </div>
      <div id="collapse8" class="collapse {% if target == 8 %}show{% endif %}" aria-labelledby="heading8" data-parent="#accordion">
      <div class="card-body">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal1" onClick="$('#Modal1Title').html('Signaler une absence');$('#sbeae_evenement_type').val(8);">
  <h4 class="text-white">Signaler une absence</h4>
</button>
         {% if absences|length > 0 %}
        <table id="myTable7" width="100%" class="table table-striped table-bordered">
          <thead>
          <tr class="header">
            <th></th>
                <th>Date Demande</th>
                <th>Agent</th>
                <th>Dates</th>
                <th>Commentaire</th>
                <th>Statut</th>
                <th>Documents</th>
                <th></th>
              </tr>
        <thead>
          <tbody>
        {% for enreg in absences %}
          <tr>
            <td>{{ enreg.datecrea | date('Ymd')}}</td>
                <td>{{ enreg.datecrea | date('d-m-Y')}}</td>
                <td>{{ enreg.user.nom}} {{ enreg.user.prenom}}</td>
                <td>Du {{ enreg.datedebut | date('d-m-Y')}} au {{ enreg.datefin | date('d-m-Y')}}</td>
                <td>{{ enreg.commentaire}}</td>
                <td><button type="button" class="btn btn-primary" style="padding:3px;" onClick="javascript:update({{ enreg.id }});" id="update{{enreg.id}}">
                {% if enreg.etat ==0 %}Attente{% elseif enreg.etat ==2 %}Refusé{% elseif enreg.etat ==1 %}OK{% endif %}</button></td>
                <td>{% if enreg.docName1 != '' %}
                <a href="/uploads/documents/{{ enreg.docName1 }}" target="_blan"><i class="fas fa-2x fa-image"></i></a>{% endif %}
                {% if enreg.docName2 != '' %}
                <a href="/uploads/documents/{{ enreg.docName2 }}" target="_blan"><i class="fas fa-2x fa-image"></i></a>{% endif %}
                </td>
                <td>
                  {% if app.user.id == 5 %}
                  <a href="/hebline/evenements/delete/{{ enreg.id }}"><i class="fas fa-2x fa-trash"></i></a>&nbsp;&nbsp;
                  {% endif %}
                  <a href="/{{ repo }}/evenements/edit/{{ enreg.id }}" class="btn btn-info">Modifier</a></td>
          </tr>
        {% endfor %}
      </tbody>
        </table>
      {% endif %}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal1" onClick="$('#Modal1Title').html('Signaler une absence');$('#sbeae_evenement_type').val(8);">
  <h4 class="text-white">Signaler une absence</h4>
</button>
    <br style="clear:both;">
      </div>
    </div>
  </div>

    <div class="card">
    <div class="card-header" id="heading2">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2"  style="font-size: 20px !important;">
          Accident de voiture
        </button>
      </h5>
    </div>
    <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordion">
      <div class="card-body">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal2" onClick="$('#Modal2Title').html('Déclarer un accident de voiture');$('#sbeae_evenement2_type').val(3);">
  <h4 class="text-white">Déclarer un accident de voiture</h4>
</button>
         {% if accidents|length > 0 %}
       <table id="myTable2" width="100%" class="table table-striped table-bordered">
          <thead>
          <tr class="header">
            <th></th>
                <th>Date Demande</th>
                <th>Agent</th>
                <th>Dates</th>
                <th>Commentaire</th>
                <th>Documents</th>
                <th></th>
              </tr>
        <thead>
          <tbody>
        {% for enreg in accidents %}
          <tr>
            <td>{{ enreg.datecrea | date('Ymd')}}</td>
                <td>{{ enreg.datecrea | date('d-m-Y')}}</td>
                <td>{{ enreg.user.nom}} {{ enreg.user.prenom}}</td>
                <td>Du {{ enreg.datedebut | date('d-m-Y')}} au {{ enreg.datefin | date('d-m-Y')}}</td>
                <td>{{ enreg.commentaire}}</td>
                <td>{% if enreg.docName1 != '' %}
                <a href="/uploads/documents/{{ enreg.docName1 }}" target="_blan"><i class="fas fa-2x fa-image"></i></a>{% endif %}
                {% if enreg.docName2 != '' %}
                <a href="/uploads/documents/{{ enreg.docName2 }}" target="_blan"><i class="fas fa-2x fa-image"></i></a>{% endif %}
                </td>
                <td>
                  {% if app.user.id == 5 %}
                  <a href="/hebline/evenements/delete/{{ enreg.id }}"><i class="fas fa-2x fa-trash"></i></a>&nbsp;&nbsp;
                  {% endif %}
                  <a href="/{{ repo }}/evenements/edit/{{ enreg.id }}" class="btn btn-info">Modifier</a></td>
          </tr>
        {% endfor %}
      </tbody>
        </table>
      {% endif %}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal2" onClick="$('#Modal2Title').html('Déclarer un accident de voiture');$('#sbeae_evenement2_type').val(3);">
  <h4 class="text-white">Déclarer un accident de voiture</h4>
</button>
    <br style="clear:both;">
      </div>
    </div>
  </div>
      <div class="card">
    <div class="card-header" id="heading3">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3"  style="font-size: 20px !important;">
          Réclamation Client
        </button>
      </h5>
    </div>
    <div id="collapse3" class="collapse {% if target == 4 %}show{% endif %}" aria-labelledby="heading3" data-parent="#accordion">
      <div class="card-body">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal2" onClick="$('#Modal2Title').html('Enregistrer une réclamation client');$('#sbeae_evenement2_type').val(4);">
  <h4 class="text-white">Enregistrer une réclamation client</h4>
</button>
       {% if reclams|length > 0 %}
        <table id="myTable4" width="100%" class="table table-striped table-bordered">
          <thead>
          <tr class="header">
            <th></th>
                <th>Demande</th>
                <th>Agent</th>
                <th>Date Réclamation</th>
                <th>Commentaire</th>
                <th>Documents</th>
                <th></th>
          </tr>
         </thead>
        <tbody>
        {% for enreg in reclams %}
          <tr>
            <td>{{ enreg.datecrea | date('Ymd')}}</td>
                <td>{{ enreg.datecrea | date('d-m-Y')}}</td>
                <td>{{ enreg.user.nom}} {{ enreg.user.prenom}}</td>
                <td>{{ enreg.datedebut | date('d-m-Y')}}</td>
                <td>{{ enreg.commentaire}}</td>
                <td>{% if enreg.docName1 != '' %}
                <a href="/uploads/documents/{{ enreg.docName1 }}" target="_blan"><i class="fas fa-2x fa-image"></i></a>{% endif %}
                {% if enreg.docName2 != '' %}
                <a href="/uploads/documents/{{ enreg.docName2 }}" target="_blan"><i class="fas fa-2x fa-image"></i></a>{% endif %}
                </td>
                <td>
{% if app.user.id == 5 %}
                  <a href="/hebline/evenements/delete/{{ enreg.id }}"><i class="fas fa-2x fa-trash"></i></a>&nbsp;&nbsp;
                  {% endif %}
                  <a href="/{{ repo }}/evenements/edit/{{ enreg.id }}" class="btn btn-info">Modifier</a></td>
          </tr>
        {% endfor %}
        </tbody>
        </table><br/>
      {% endif %}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal2" onClick="$('#Modal2Title').html('Enregistrer une réclamation client');$('#sbeae_evenement2_type').val(4);">
  <h4 class="text-white">Enregistrer une réclamation client</h4>
</button>
    <br style="clear:both;">
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="heading4">
      <h5 class="mb-0">

        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4"  style="font-size: 20px !important;">
          Problème matériel
        </button>
      </h5>
    </div>
    <div id="collapse4" class="collapse {% if target == 5 %}show{% endif %}" aria-labelledby="heading4" data-parent="#accordion">
      <div class="card-body">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal2" onClick="$('#Modal2Title').html('Déclarer un problème matériel');$('#sbeae_evenement2_type').val(5);">
  <h4 class="text-white">Déclarer un problème matériel</h4>
</button>
       {% if materiels|length > 0 %}
        <table id="myTable5" width="100%" class="table table-striped table-bordered">
          <thead>
          <tr class="header">
            <th></th>
                <th>Demande</th>
                <th>Agent</th>
                <th>Date Problème</th>
                <th>Commentaire</th>
                <th>Documents</th>
                <th></th>
          </tr>
         </thead>
        <tbody>
 {% for enreg in materiels %}
          <tr>
            <td>{{ enreg.datecrea | date('Ymd')}}</td>
                <td>{{ enreg.datecrea | date('d-m-Y')}}</td>
                <td>{{ enreg.user.nom}} {{ enreg.user.prenom}}</td>
                <td>{{ enreg.datedebut | date('d-m-Y')}}</td>
                <td>{{ enreg.commentaire}}</td>
                <td>{% if enreg.docName1 != '' %}
                <a href="/uploads/documents/{{ enreg.docName1 }}" target="_blan"><i class="fas fa-2x fa-image"></i></a>{% endif %}
                {% if enreg.docName2 != '' %}
                <a href="/uploads/documents/{{ enreg.docName2 }}" target="_blan"><i class="fas fa-2x fa-image"></i></a>{% endif %}
                </td>
                <td>
{% if app.user.id == 5 %}
                  <a href="/hebline/evenements/delete/{{ enreg.id }}"><i class="fas fa-2x fa-trash"></i></a>&nbsp;&nbsp;
                  {% endif %}
                  <a href="/{{ repo }}/evenements/edit/{{ enreg.id }}" class="btn btn-info">Modifier</a></td>
          </tr>
        {% endfor %}
          </tbody>
        </table><br/>
      {% endif %}
        <h4></h4>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal2" onClick="$('#Modal2Title').html('Déclarer un problème matériel');$('#sbeae_evenement2_type').val(5);">
  <h4 class="text-white">Déclarer un problème matériel</h4>
</button>
        <br style="clear:both;">
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="heading5">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5"  style="font-size: 20px !important;">
          Autre demande
        </button>
      </h5>
    </div>
    <div id="collapse5" class="collapse {% if target == 6 %}show{% endif %}" aria-labelledby="heading5" data-parent="#accordion">
      <div class="card-body">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal2" onClick="$('#Modal2Title').html('Autre demande');$('#sbeae_evenement2_type').val(6);">
  <h4 class="text-white">Autre demande</h4>
</button>
        {% if demandes|length > 0 %}
        <table id="myTable6" width="100%" class="table table-striped table-bordered">
          <thead>
          <tr class="header">
                <th></th>
                <th>Demande</th>
                <th>Agent</th>
                <th>Date Problème</th>
                <th>Commentaire</th>
                <th>Documents</th>
                <th></th>
          </tr>
        </thead>
        <tbody>
      {% for enreg in demandes %}
          <tr>
            <td>{{ enreg.datecrea | date('Ymd')}}</td>
                <td>{{ enreg.datecrea | date('d-m-Y')}}</td>
                <td>{{ enreg.user.nom}} {{ enreg.user.prenom}}</td>
                <td>Du {{ enreg.datedebut | date('d-m-Y')}} au {{ enreg.datefin | date('d-m-Y')}}</td>
                <td>{{ enreg.commentaire}}</td>
                <td>{% if enreg.docName1 != '' %}
                <a href="/uploads/documents/{{ enreg.docName1 }}" target="_blan"><i class="fas fa-2x fa-image"></i></a>{% endif %}
                {% if enreg.docName2 != '' %}
                <a href="/uploads/documents/{{ enreg.docName2 }}" target="_blan"><i class="fas fa-2x fa-image"></i></a>{% endif %}
                </td>
                <td>
{% if app.user.id == 5 %}
                  <a href="/hebline/evenements/delete/{{ enreg.id }}"><i class="fas fa-2x fa-trash"></i></a>&nbsp;&nbsp;
                  {% endif %}
                  <a href="/{{ repo }}/evenements/edit/{{ enreg.id }}" class="btn btn-info">Modifier</a></td>
          </tr>
        {% endfor %}
        </tbody>
        </table><br/>
      {% endif %}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal2" onClick="$('#Modal2Title').html('Autre demande');$('#sbeae_evenement2_type').val(6);">
  <h4 class="text-white">Autre demande</h4>
</button>
        <br style="clear:both;">
      </div>
    </div>
  </div>
</div>
</div>
 <div class="modal fade" id="Modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="Modal1Title">Déclarer</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
                {{ form_start(form_conges) }}
                  {{ form_widget(form_conges) }}
                {{ form_end(form_conges) }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="Modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="Modal2Title">Déclarer</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ form_start(form_demande)}}
          {{ form_widget(form_demande) }}
        {{ form_end(form_demande) }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
    <br style="clear:both;">
      <br style="clear:both;">
      <script>
      var args ={
          columnDefs: [
            {
                "targets": [ 0 ],
                "visible": false,
                "searchable": false
            }],
            order: [ 0, "desc" ],
            language: {
            processing:     "Traitement en cours...",
            search:         "Rechercher&nbsp;:",
            lengthMenu:    "Afficher _MENU_ &eacute;l&eacute;ments",
            info:           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
            infoEmpty:      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
            infoFiltered:   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
            infoPostFix:    "",
            loadingRecords: "Chargement en cours...",
            zeroRecords:    "Aucun &eacute;l&eacute;ment &agrave; afficher",
            emptyTable:     "Aucune donnée disponible dans le tableau",
            paginate: {
                first:      "Premier",
                previous:   "<",
                next:       ">",
                last:       "Dernier"
            },
            aria: {
                sortAscending:  ": activer pour trier la colonne par ordre croissant",
                sortDescending: ": activer pour trier la colonne par ordre décroissant"
            }
        }
      };
      var table0 = $('#myTable0').DataTable( args );
     var table1 = $('#myTable1').DataTable( args );
     var table2 = $('#myTable2').DataTable( args );
     var table3 = $('#myTable3').DataTable( args );
     var table4 = $('#myTable4').DataTable( args );
     var table5 = $('#myTable5').DataTable( args );
     var table6 = $('#myTable6').DataTable( args );
    var table7 = $('#myTable7').DataTable( args );
     var table8 = $('#myTable8').DataTable( args );

function deleteur(table,ident){
$.ajax({
  method: "GET",
  url: "/{{repo}}/evenement/delete/"+ident
})
  .done(function( msg ) {
  if(msg == 1){
      eval(table).row( $('#delete'+ident).parents('tr') ).remove().draw();
  }
  else{
      alert( "PB: " + msg );
  }
  });
};
function update(ident){
$.ajax({
  method: "GET",
  url: "/{{repo}}/evenement/update/"+ident
})
  .done(function( msg ) {
  if(msg == 1 ){
       $('#update'+ident).html('Ok')
  }
  else if(msg == 2 ){
       $('#update'+ident).html('Refusé')
  }
  else if(msg == 0 ){
       $('#update'+ident).html('Attente')
  }
  else{
      alert( "PB: " + msg );
  }
  });
};

     </script>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
