{% extends '//superadmin.html.twig' %}

{% block body %}
<div class="fenetre-centered">
{% for label, messages in app.session.flashbag.all %}
   <div class="alert alert-notice">
         {% for message in messages %}
		  <div class="alert alert-notice">
           {{message}}
		   </div>
        {% endfor %}
    </div>
{% endfor %}
    <h1>{{ titre }}</h1>
<div class="well" id="recherche">
	{{ form(form, {'attr': {'id': 'sbeae_cloture'}}) }}
</div>

<table id="myTable" width="100%" class="table">
  <tr class="header">
				<th>Id</th>
				<th>Date</th>
				<th>Site</th>
				<th>&nbsp;</th>
				<th>Utilisateur</th>
				<th>Rel.</th>
				<th>Inf.</th>
				<th>Total</th>
				<th>Comment.</th>
				<th>Capture</th>
                <th>Tournées</th>
				<th>Actions</th>
  </tr>
        <tbody>

				{% set site = 0 %}
				{% set affichsite = 0 %}
				{% set releveS = 0 %}
				{% set infructueuxS = 0 %}
				{% set restantS	= 0 %}
				{% set totalS = 0 %}
				{% set row = 0 %}

				{% set releveT = 0 %}
				{% set infructueuxT = 0 %}
				{% set restantT	= 0 %}
				{% set totalT = 0 %}
		{% for enreg in enregs %}
				{% if site != enreg.chantier.id %}
				{% set site = enreg.chantier.id %}
					{% if row != 0 %}
					<tr valign="top" class="bg-success">
					<td colspan="10"><strong>Total Site Période</strong></td>
					<td>
						<table>
							<tr class="header">
						<th width="50">&nbsp;</th>
						<th width="50">Relève</th>
						<th width="50">Infructueux</th>
						<th width="50">Reste</th>
						<th width="50">Total</th>
						</tr>
						<tr>
						<td><strong>Totaux</strong></th>
						<td><strong>{{ releveS }}</strong></th>
						<td><strong>{{ infructueuxS }}</strong></th>
						<td><strong>{{ restantS }}</strong></th>
						<td><strong>{{ totalS }}</strong></th>
						</tr>
						</table>
					</td>
					<td>&nbsp;</td>
					</tr>
					{% set affichsite = 0 %}
					{% set releveS = 0 %}
					{% set infructueuxS = 0 %}
					{% set restantS	= 0 %}
					{% set totalS = 0 %}
					{% else %}
						{% set row = 1 %}
					{% endif %}
				{% endif %}
            <tr valign="top">
				<td>{{ enreg.id}}</td>
				<td>{{ enreg.datereleve | date('d-m-Y')}}</td>
				<td>{{ enreg.chantier.nom }}</td>
				<td>{% if enreg.controle != 1 %}{% if enreg.alerte == 1 %}<span style="font-size: 2em; color: Tomato;"><i class="fas fa-exclamation-triangle"></i></span>{% else %}.</i>{% endif %}{% endif %}
				<td>{{ enreg.user.prenom }} {{ enreg.user.nom }}</td>
				<td>{{ enreg.cloturereleve }}</td>
				<td>{{ enreg.clotureinfructueux }}</td>
				<td>{{ enreg.cloturetotal }}</td>
				<td>{{ enreg.commentaire | raw }}</td>
				<td>
                {% for document in enreg.documents %}
                      {% if document.filename != '' %}
                      <a href="#"><i class="fas fa-image fa-2x" style="margin:5px;" data-rel="popover" title="<strong>Capture</strong>" data-placement="left" data-offset="300" data-content="<img src='/uploads/documents/{{ document.filename }}'  width=300>"></i></a>
                      {% endif %}
                {% endfor %}
				</td>
				<td>
				{% if enreg.tournees|length > 0 %}
				{% set releve = 0 %}
				{% set infructueux = 0 %}
				{% set restant = 0 %}
				{% set total = 0 %}
				<table>
					<tr class="header">
					<th width="150">Tournées</th>
					<th width="50">Relève</th>
					<th width="50">Infructueux</th>
					<th width="50">Reste</th>
					<th width="50">Total</th>
					</tr>
					{% for tournee in enreg.tournees %}
				{% set releve = releve + tournee.releve %}
				{% set infructueux = infructueux + tournee.infructueux %}
				{% set restant = restant + tournee.restant%}
				{% set total = total + tournee.total%}
				{% set releveS = releveS + tournee.releve %}
				{% set infructueuxS = infructueuxS + tournee.infructueux %}
				{% set restantS = restantS + tournee.restant%}
				{% set totalS = totalS + tournee.total%}
					<tr class="header">
					<td>{{ tournee.code }}</th>
					<td>{{ tournee.releve }}</th>
					<td>{{ tournee.infructueux }}</th>
					<td>{{ tournee.restant }}</th>
					<td>{{ tournee.total }}</th>
					</tr>
					{% endfor %}
				{% set releveT = releveT + releve %}
				{% set infructueuxT = infructueuxT + infructueux %}
				{% set restantT = restantT + restant%}
				{% set totalT = totalT + total%}
					<tr>
					<td><strong>Totaux</strong></th>
					<td><strong>{{ releve }}</strong></th>
					<td><strong>{{ infructueux }}</strong></th>
					<td><strong>{{ restant }}</strong></th>
					<td><strong>{{ total }}</strong></th>
					</tr>
					</table>{% endif %}
			<td>
                    <a href="{{ path('superadmin_enregistrements_detail', { 'id': enreg.id }) }}" class="btn btn-info">Détail</a>
				</td>
            </tr>
				{% if site != enreg.chantier.id %}
				{% endif %}
		 {% endfor %}
		 {% if site != 0 %}
					<tr valign="top" class="bg-success">
					<td colspan="10"><strong>Total Site Période</strong></td>
					<td>
						<table>
							<tr class="header">
						<th width="150">&nbsp;</th>
						<th width="50">Relève</th>
						<th width="50">Infructueux</th>
						<th width="50">Reste</th>
						<th width="50">Total</th>
						</tr>
						<tr>
						<td><strong>Totaux</strong></th>
						<td><strong>{{ releveS }}</strong></th>
						<td><strong>{{ infructueuxS }}</strong></th>
						<td><strong>{{ restantS }}</strong></th>
						<td><strong>{{ totalS }}</strong></th>
						</tr>
						</table>
					</td>
					<td>&nbsp;</td>
					</tr>
			{% endif %}
		  <tr valign="top"  class="bg-primary">
				<td colspan="10"><strong>Total période</strong></td>
				<td>
		 			<table>
						<tr>
					<th width="150">&nbsp;</th>
					<th width="50">Relève</th>
					<th width="50">Infructueux</th>
					<th width="50">Reste</th>
					<th width="50">Total</th>
					</tr>
					<tr>
					<td><strong>Totaux</strong></th>
					<td><strong>{{ releveT }}</strong></th>
					<td><strong>{{ infructueuxT }}</strong></th>
					<td><strong>{{ restantT }}</strong></th>
					<td><strong>{{ totalT }}</strong></th>
					</tr>
					</table>
				</td><td>&nbsp;</td></tr>
        </tbody>
    </table>
	<br/>
	<button id="excel" class="btn btn-infos"><img src="/images/excel.png" width="40">&nbsp;&nbsp;Export Excel</button>
<br/>
<script>
$(document).ready(function() {
    $('[data-rel=popover]').popover({
      html: true,
      trigger: "hover"
    });
	$('#sbeae_enregistrement_excel').val(0);
		$('#excel').click(function() {
		$('#sbeae_enregistrement_excel').val(1);
		$('#sbeae_cloture').submit();
		$('#sbeae_enregistrement_excel').val(0);
	});
});
</script>
{% endblock %}
