{% extends '//front.html.twig' %}

{% block body %}
<div class="fenetre-centered">
  {% for label, messages in app.session.flashbag.all %}
   <div class="alert alert-notice">
         {% for message in messages %}
     {% if message != '' %}
      <div class="alert alert-{{ label }}">{{message}}</div>
       {% endif %}
        {% endfor %}

    </div>
{% endfor %}
<br/>
<div id="accordion">
    <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Congés
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        {% if conges|length > 0 %}
        <table id="myTable" width="100%">
          <tr class="header">
                <th>Date Demande</th>
                <th>Dates</th>
                <th>Commentaire</th>
                <th>Statut</th>
                <th>Documents</th>
                <th></th>

        {% for enreg in conges %}
          <tr>
                <td>{{ enreg.datecrea | date('d-m-Y')}}</td>
                <td>Du {{ enreg.datedebut | date('d-m-Y')}} au {{ enreg.datefin | date('d-m-Y')}}</td>
                <td>{{ enreg.commentaire}}</td>
              <td>{% if enreg.etat ==0 %}En attente{% elseif enreg.etat ==1 %}Accordé{% elseif enreg.etat ==2 %}Refusé{% endif %}</td>
                <td>{% if enreg.docName1 != '' %}
                <a href="/uploads/documents/{{ enreg.docName1 }}" target="_blan"><i class="fas fa-image"></i></a>{% endif %}
                {% if enreg.docName2 != '' %}
                <a href="/uploads/documents/{{ enreg.docName2 }}" target="_blan"><i class="fas fa-image"></i></a>{% endif %}
                </td>
                <td>{{ enreg.commentaire2}}</td>
          </tr>
        {% endfor %}
        </table><br/>
      {% endif %}
        <h4>Demande de congés</h4>
        {{ form_start(form_conges) }}
          {{ form_widget(form_conges) }}
        {{ form_end(form_conges) }}
    <br style="clear:both;">
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="heading1">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
          Maladie
        </button>
      </h5>
    </div>

    <div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#accordion">
      <div class="card-body">
         {% if maladies|length > 0 %}
        <table id="myTable" width="100%">
          <tr class="header">
                <th>Date Demande</th>
                <th>Dates</th>
                <th>Commentaire</th>
                <th>Documents</th>
                <th></th>
          </tr>
        {% for enreg in maladies %}
          <tr>
                <td>{{ enreg.datecrea | date('d-m-Y')}}</td>
                <td>Du {{ enreg.datedebut | date('d-m-Y')}} au {{ enreg.datefin | date('d-m-Y')}}</td>
                <td>{{ enreg.commentaire}}</td>
                <td>{% if enreg.docName1 != '' %}
                <a href="/uploads/documents/{{ enreg.docName1 }}" target="_blan"><i class="fas fa-image"></i></a>{% endif %}
                {% if enreg.docName2 != '' %}
                <a href="/uploads/documents/{{ enreg.docName2 }}" target="_blan"><i class="fas fa-image"></i></a>{% endif %}
                </td>
                <td>{{ enreg.commentaire2}}</td>
          </tr>
        {% endfor %}
        </table>
      {% endif %}
        <h4>Signaler un arrêt maladie</h4>
        {{ form_start(form_maladie) }}
          {{ form_widget(form_maladie) }}
        {{ form_end(form_maladie) }}
    <br style="clear:both;">
      </div>
    </div>
  </div>
    <div class="card">
    <div class="card-header" id="heading2">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
          Accident de voiture
        </button>
      </h5>
    </div>
    <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordion">
      <div class="card-body">
         {% if accidents|length > 0 %}
        <table id="myTable" width="100%">
          <tr class="header">
                <th>Date Demande</th>
                <th>Date Accident</th>
                <th>Commentaire</th>
                <th>Documents</th>
                <th></th>
          </tr>
        {% for enreg in accidents %}
          <tr>
                <td>{{ enreg.datecrea | date('d-m-Y')}}</td>
                <td>Du {{ enreg.datedebut | date('d-m-Y')}}</td>
                <td>{{ enreg.commentaire}}</td>
                <td>{% if enreg.docName1 != '' %}
                <a href="/uploads/documents/{{ enreg.docName1 }}" target="_blan"><i class="fas fa-image"></i></a>{% endif %}
                {% if enreg.docName2 != '' %}
                <a href="/uploads/documents/{{ enreg.docName2 }}" target="_blan"><i class="fas fa-image"></i></a>{% endif %}
                </td>
                <td>{{ enreg.commentaire2}}</td>
          </tr>
        {% endfor %}
        </table>
      {% endif %}
        <h4>Déclarer un accident de voiture</h4>
        {{ form_start(form_accident) }}
          {{ form_widget(form_accident) }}
        {{ form_end(form_accident) }}
    <br style="clear:both;">
      </div>
    </div>
  </div>
      <div class="card">
    <div class="card-header" id="heading3">
      <h5 class="mb-0">

        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
          Réclamation Client
        </button>
      </h5>
    </div>
    <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordion">
      <div class="card-body">
       {% if reclams|length > 0 %}
        <table id="myTable" width="100%">
          <tr class="header">
                <th>Date Demande</th>
                <th>Date Réclamation</th>
                <th>Commentaire</th>
                <th>Documents</th>
                <th></th>
          </tr>
        {% for enreg in reclams %}
          <tr>
                <td>{{ enreg.datecrea | date('d-m-Y')}}</td>
                <td>{{ enreg.datedebut | date('d-m-Y')}}</td>
                <td>{{ enreg.commentaire}}</td>
                <td>{% if enreg.docName1 != '' %}
                <a href="/uploads/documents/{{ enreg.docName1 }}" target="_blan"><i class="fas fa-image"></i></a>{% endif %}
                {% if enreg.docName2 != '' %}
                <a href="/uploads/documents/{{ enreg.docName2 }}" target="_blan"><i class="fas fa-image"></i></a>{% endif %}
                </td>
                <td>{{ enreg.commentaire2}}</td>
          </tr>
        {% endfor %}
        </table>
      {% endif %}
        <h4>Enregistrer une réclamation client</h4>
        {{ form_start(form_reclam, {'id': random()}) }}
          {{ form_widget(form_reclam) }}
        {{ form_end(form_reclam) }}
    <br style="clear:both;">
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="heading4">
      <h5 class="mb-0">

        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
          Souci matériel
        </button>
      </h5>
    </div>
    <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordion">
      <div class="card-body">
       {% if materiels|length > 0 %}
        <table id="myTable" width="100%">
          <tr class="header">
                <th>Date Demande</th>
                <th>Date Problème</th>
                <th>Commentaire</th>
                <th>Documents</th>
                <th></th>
          </tr>
 {% for enreg in materiels %}
          <tr>
                <td>{{ enreg.datecrea | date('d-m-Y')}}</td>
                <td>{{ enreg.datedebut | date('d-m-Y')}}</td>
                <td>{{ enreg.commentaire}}</td>
                <td>{% if enreg.docName1 != '' %}
                <a href="/uploads/documents/{{ enreg.docName1 }}" target="_blan"><i class="fas fa-image"></i></a>{% endif %}
                {% if enreg.docName2 != '' %}
                <a href="/uploads/documents/{{ enreg.docName2 }}" target="_blan"><i class="fas fa-image"></i></a>{% endif %}
                </td>
                <td>{{ enreg.commentaire2}}</td>
          </tr>
        {% endfor %}
        </table>
      {% endif %}
        <h4>Déclarer un problème matériel</h4>
        {{ form_start(form_materiel, {'id': random()}) }}
          {{ form_widget(form_materiel) }}
        {{ form_end(form_materiel) }}
        <br style="clear:both;">
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="heading5">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
          Autre demande
        </button>
      </h5>
    </div>
    <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordion">
      <div class="card-body">
        {% if demandes|length > 0 %}
        <table id="myTable" width="100%">
          <tr class="header">
                <th>Date Demande</th>
                <th>Date Problème</th>
                <th>Commentaire</th>
                <th>Documents</th>
                <th></th>
          </tr>
      {% for enreg in demandes %}
          <tr>
                <td>{{ enreg.datecrea | date('d-m-Y')}}</td>
                <td>Du {{ enreg.datedebut | date('d-m-Y')}} au {{ enreg.datefin | date('d-m-Y')}}</td>
                <td>{{ enreg.commentaire}}</td>
                <td>{% if enreg.docName1 != '' %}
                <a href="/uploads/documents/{{ enreg.docName1 }}" target="_blan"><i class="fas fa-image"></i></a>{% endif %}
                {% if enreg.docName2 != '' %}
                <a href="/uploads/documents/{{ enreg.docName2 }}" target="_blan"><i class="fas fa-image"></i></a>{% endif %}
                </td>
                <td>{{ enreg.commentaire2}}</td>
          </tr>
        {% endfor %}
        </table>
      {% endif %}
        {{ form_start(form_demande, {'id': random()}) }}
          {{ form_widget(form_demande) }}
        {{ form_end(form_demande) }}
        <br style="clear:both;">
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
