{% extends '//hebline.html.twig' %}

{% block body %}
    <h1>Edition {{ titre }}</h1>
<div id="formulaire">
    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    {{ form_end(edit_form) }}
</div>
 <a href="{{ path('hebline_user_list') }}" class="btn btn-info">Retour à la liste</a>
{% endblock %}