{% extends '//hebline.html.twig' %}

{% block body %}
<div class="fenetre-centered">
    <h1>Création Utilisateur</h1>
{{ message }}<br/>
<div id="formulaire">
    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <input type="submit" value="Enregistrer"  class="btn btn-info">
    {{ form_end(edit_form) }}
	<br/>
	<div id="password2"></div>
	<a href="#" onClick="javascript:generate()" class="btn btn-info">Générer un mot de passe</a><br/>
</div><br style="clear: both;"/>
<a href="{{ path('hebline_users') }}" class="btn btn-info">Retour à la liste</a><br/>
<br/>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
function generate(){
var randomstring = Math.random().toString(36).slice(-8);
$('#password2').html('<strong>'+randomstring+'</strong>');
$('#sbeae_user_plainPassword_first').val(randomstring);
$('#sbeae_user_plainPassword_second').val(randomstring);
return false;
}
</script>
{% endblock %}
