{% extends '//hebline.html.twig' %}

{% block body %}
    <h1>SMS</h1>
    <div class="alert alert-success">
		{{ message }}
    </div>

<div id="formulaire">
    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    {{ form_end(edit_form) }}
</div>
{% endblock %}